body {
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    background: #f9f9f9;
 }
 a:hover,
 a:focus {
  text-decoration: none;
 }
.wrap-btn-style {
  margin: 20px 0 0;
}

a,a:focus{
  color:  #bf1e2e;
}

a:hover {
  color:  #bf1e2e;
}

svg {
  width: 20px;
  height: 20px;
}

.btn,
.form-submit input[type=submit],
input[type=submit],
input[type=button]{
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 8px 25px;
    transition: color 400ms, background-color 400ms, border-color 400ms;
    -webkit-transition: color 400ms, background-color 400ms, border-color 400ms;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}

input[type=button]:hover,
input[type=submit]:hover,
.form-submit input[type=submit]:hover,



input[type=submit],
.form-submit input[type=submit] {
  float: right;
}

textarea,input {
  border: 1px solid #e3e3e3;
  transition: 300ms;
  -webkit-transition: 300ms;
  padding: 10px 15px;
}

input:focus, textarea:focus, 
keygen:focus, select:focus {
  border-width: 1px;
  border-style: solid;
  outline-offset: 0;
  outline: -webkit-focus-ring-color auto 0;
}

 /*=========================================
 *=======     input fields       ============
 *=======================================*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  min-height: 50px;
  font-weight: 400;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #e9edf0;
}

.site-header{
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.1);
box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.1);
background: #fff;
}
 /*=========================================
 *=======     Boxwidth       ============
 *=======================================*/


.boxwidth {
  position: relative;
  max-width: 1240px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.boxwidth #masthead.sticky {
    max-width: 1240px;
    top: 0;
}

.admin-bar #masthead.sticky {top:32px}

 /*=========================================
 *=======     Subtitle       ============
 *=======================================*/
.sub-title {
  z-index: 1;
  position: relative;
  margin-bottom: 60px;
}
.sub-title:after {
    position: absolute;
    content: "";
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.sub-title h2 {
  font-size: 30px;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #fff;  
  font-weight: 500;
}
.sub-title .breadcrumb {
  background: none;
  padding: 0;
  margin: 5px 0 0;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}
.sub-title .breadcrumb>li a {
  color: #fff;
}

/*=========================================
 *=======     Logo       ============
*=======================================*/
.logo-wrapper h1 {
  margin-top: 20px;
}


/*=========================================
 *=======     Login       ============
*=======================================*/
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal {
    text-align: center;
}
.modal-content {
    border-radius: 0;
    padding: 30px 30px 0;
    font-size: 14px;
    background-color: #ffffff;
}
.modal-content .modal-header {
    border: none;
}
.modal-content .modal-header .title {
  margin-top: 0;
  font-weight: 600;
}
.modal-header .close {
  margin-top: -2px;
  position: absolute;
  right: 15px;
  top: 15px;
  color: #777;
  border: 1px solid;
  border-radius: 30px;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 35px;
  height: 35px;
  line-height: 33px;
  font-size: 18px;
}

.modal-content input[type="text"] {
  margin-bottom: 20px;
}

.modal-content input[type="password"] {
  margin-bottom: 30px;
}

.modal-content .lost-pass strong{
  margin-left: 20px;
}

.modal-content .lost-pass {
  color: #000;
  transition: 300ms;
  -webkit-transition: 300ms;
}

.modal-content .modal-footer {
  padding: 20px 0 5px;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}


/* Menu Button */

.menu-button:focus,
.close-button:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.menu-button {
  position: relative;
  z-index: 1000;
  margin: 0;
  padding: 0;
  width: 3em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 14px;
  color: transparent;
  background: transparent;
  display: inline-block;
  float: left;
  margin-top: 19px;
  margin-right: 0;
}
.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(#000 20%, transparent 20%, transparent 40%, #000 40%, #000 60%, transparent 60%, transparent 80%, #000 80%);
  content: '';
}

.menu-button:hover {
  opacity: 0.7;
}
/* Close Button */
.menu-close-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  margin-top: 0px;
  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
  z-index: 2;
  background: #000;
}
.admin-bar .menu-close-container {
  top: 0;
}

.close-button {
  width: 2em;
  height: 2em;
  position: absolute;
  right: 19px;
  top: 17px;
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.7em;
  border: none;
  background: transparent;
  color: transparent;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #fff;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*=========================================
 *=======    Offcanvas menu      ============
 *=======================================*/
 
#offcanvas-menu-wrapper {
  position: fixed;
  left: -400px;
  top: 0;
  width: 400px;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  transform: matrix(1, 0, 0, 1, 0, 0); 
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0); 
  background: #f5f5f5;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
}

.admin-bar #offcanvas-menu-wrapper {
  top:32px;
}

.show-menu #offcanvas-menu-wrapper {
  transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
   -webkit-transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
}

#offcanvas-menu-inner {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 50px 90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  overflow-y: scroll;  
  overflow-y: overlay;  
}

.show-menu #offcanvas-menu-inner {
  transform: translate(-100%, 0%) matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: translate(-100%, 0%) matrix(1, 0, 0, 1, 0, 0);
}

#offcanvas-menu {
  margin-top: 50px;
}

#offcanvas-menu .navbar-collapse {
  padding: 0;
}

#offcanvas-menu #menu-main-menu {
  padding-left: 30px;
}

#offcanvas-menu .nav>li a {
  margin-right: 0;
  margin-left: 0;
  padding: 8px 0;
  color: #969090;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 4px;
}

#offcanvas-menu .nav>li a:focus, 
#offcanvas-menu .nav>li a:hover {
    text-decoration: none;
    background: none;
} 

#offcanvas-menu .nav>li {
  display: block;
  position: relative;
}

#offcanvas-menu .nav>li>a {
  position: relative;
  display: inline-block;
}

#offcanvas-menu .nav>li>a:after {
  content: '';
  position: absolute;
  top: 21px;
  height: 1px;
  background-color: #c6c6c6;
  left: -40px;
  width: 20px;
  -moz-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
}

#offcanvas-menu .nav li ul {
  list-style: none;
  padding: 10px 0;
}

#offcanvas-menu .nav>li>a:hover:after {
  left: -40px;
  width: 40px;

}

#offcanvas-menu ul li span.menu-toggler {
  display: inline-block;
  width: 34px;
  cursor: pointer;
  color: #969090;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 13px;
  z-index: 99;
  font-size: 12px;
}

#offcanvas-menu ul li span.menu-toggler .jubamo-moviewdown, 
#offcanvas-menu ul li span.menu-toggler.collapsed .jubamo-moviewangle-right {
    display: block;
}


/*=========================================
 *=======     Navigation       ============
 *=======================================*/

.main-menu-wrap {
  float: left;
  margin-right: 30px;
  padding: 0;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
}

.main-menu-wrap .fa-bars {
  font-size: 28px;
  line-height: 72px;
  padding: 0 0 0 15px;
}

#main-menu {
  display: none;
  background: #eeeeee;
  list-style: none;
  padding: 20px 0;
  margin: 0;
  width: 240px;
  position: absolute;
  top: 70px;
  left: 15px;
  z-index: 99999;
  line-height: normal;
}

.main-menu-wrap:hover #main-menu{
  display: block;
  -webkit-animation: spMenuFadeInUp 150ms;
  animation: spMenuFadeInUp 150ms;  
}

#main-menu .nav>li {
  position: relative;
  padding: 0;
}

#main-menu .nav>li>a {
  line-height: normal;
  padding: 13px 30px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  transition: 300ms;
  -webkit-transition: 300ms;
}


#main-menu .nav>li.fixed-menu {
    margin-left: 20px;
}


#main-menu .nav>li>a:hover,
#main-menu .nav>li>a:focus {
  color: #000;
  background-color: #fff;
}

#main-menu .nav>li.active>a {
    font-weight: 500;
}

#main-menu .nav>li.menu-item-has-children > a {
  position: relative;
}

#main-menu .nav>li.menu-item-has-children > a:after{
    content: " \f105";
    font-family: "FontAwesome";
    right: 30px;
    position: absolute;
    font-size: 16px;
}

.page-template-homepage-transparent-php #masthead.sticky #main-menu .nav>li.fixed-menu>a {
    color: #fff;
}

#main-menu .nav>li > ul{
    padding: 0px 0 0;
}

#main-menu .nav>li ul {
  text-align: left;
  position: absolute;
  top: 0;
  left: 100%;
  list-style: none;
  margin: 0;
  width: 220px;
  display: none;
  z-index: 999999;
  color: #333;
  background-color: #EEEEEE;
}


#main-menu .nav>li:hover>ul {
  display: block;
  -webkit-animation: spMenuFadeInUp 300ms;
  animation: spMenuFadeInUp 300ms;
}

#main-menu .nav>li>ul li a {
    display: block;
    line-height: normal;
    padding: 13px 20px;
    font-size: 14px;
    transition:300ms;
    -webkit-transition:300ms;    
}

#main-menu .nav>li>ul li > div {
    padding: 0 20px 10px;
    font-size: 13px;
}

#main-menu .sub-menu li.active{
    background: #736356;
}

#main-menu .nav>li>ul li a:hover {
    text-decoration: none;
}

 #main-menu .nav>li>ul {
    transition:300ms;
    -webkit-transition:300ms;   
 }

#main-menu .nav>li>ul li {
  transition:300ms;
  -webkit-transition:300ms;   
}


#main-menu .nav>li>ul li {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    transiton:300ms;
    -webkit-transiton:300ms;
    -moz-transiton:300ms;
}

#main-menu .nav>li>ul li.menu-item-has-children {
    position: relative;
}

#main-menu .nav>li>ul li.menu-item-has-children:after {
    position: absolute;
    content: "\f105";
    right: 30px;
    top: 15px;
    font-size: 16px;
    font-family: FontAwesome;
}


#main-menu .nav>li ul li ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0;
}

#main-menu .nav>li>ul li:hover>ul {
  display: block;
  -webkit-animation: spMenuFadeInUp 400ms;
  animation: spMenuFadeInUp 400ms;
}

#main-menu .sub-menu li.active, #main-menu .nav>li>ul li:hover {
  background: #fff;
  color: #000;
}


/*===========   Mobile Menu   ===========*/

#mobile-menu{
    position: absolute;
    top: 61px;
    width: 100%;
    z-index: 9;
    right: 0;
    z-index: 999;
    background: #eeeeee;
}

.col-xs-4.visible-xs {
  position: absolute;
  right: 0;
}

.navbar-toggle .icon-bar {
  background: #000;
  width: 25px;
  height: 3px;  
}

.navbar-toggle {
  padding: 0;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
}

.admin-bar #mobile-menu {
  top:71px;
}

#navigation #mobile-menu .navbar-nav {
  float: none;
}

#navigation #mobile-menu .navbar-nav {
  margin: 0;
  background-color: #29333f;
}


#mobile-menu .navbar-collapse{
  border: 0;
}

#mobile-menu .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: 0 !important;
}

#mobile-menu ul {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#mobile-menu ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  display: block;
}

#mobile-menu ul ul {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

#mobile-menu ul li span.menu-toggler {
  display: inline-block;
  width: 34px;
  cursor: pointer;
  color: #000;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

#mobile-menu ul li:hover .menu-toggler{
    color: #222;
}

#mobile-menu ul li {
  line-height: 20px;
}

#mobile-menu ul li span.menu-toggler i {
  display: block;
  line-height: 34px;
}

#mobile-menu ul li span.menu-toggler .fa-angle-right,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-down {
  display: none;
}

#mobile-menu ul li span.menu-toggler .fa-angle-down,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-right {
  display: block;
}

#navigation #mobile-menu .navbar-nav>li>a:focus, 
#navigation #mobile-menu .navbar-nav>li>a:hover {
  background-color: transparent;
}

@media only screen and (max-width : 768px) {
  #masthead.sticky {
    position: inherit !important;
  }
}

#main-menu ul.sub-menu li > a{
    font-weight: 400!important;
}

#navigation .navbar-header .navbar-toggle:hover, 
#navigation .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-toggle:hover .icon-bar {
  background: #4bb463;
}



/*=========================================
 *=======   Moview Search   ============
 *=======================================*/

.home-search {
  margin-top: 16px;
}

.moview-search-wrap {
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    width: 100%;
    position: relative;
}

#moview-search {
    overflow: hidden;
    margin: 0;
}

.moview-search-wrap .search-panel {
  position: absolute;
  left: 0;
  float: left;
  height: 37px;
  width: auto;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  color:#666;
  font-weight: 100;
}

.moview-search-wrap .search-panel .select-menu {
  position: relative;
  float: left;
  margin-left: 20px;
  z-index: 10;
  border-right: 1px solid #e3e3e3;
}




.search-panel .select-menu::after {
  content: '\e903';
  font-family: 'moview' !important;
  font-size: 10px;
  line-height: 8px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  z-index: 10;
}


.moview-search-wrap .input-box {
  float: left;
  border: none;
  border-width: 1px 0px;
  height: 37px;
  width: 100%;
  padding: 0 20px 0 20px;
}

.moview-search-wrap .input-box input {
  border:0;
  box-shadow: none;
  outline: none;
  width:100%;
  padding:5px 0;
  min-height: auto;
  height: 100%;
}
.moview-search-wrap .input-box .input-movie-search{
  position: absolute;
  right: 15px;
  width: 40px;
  height: 34px;
  top: 1px;
  cursor: pointer;
  background: #fff;

}
.moview-search-wrap .input-box svg{
  width: 16px;
    fill: #bf1e2e;
    position: relative;
    right: -12px;
    top: 8px;
}


.moview-search-wrap #searchword.moview-search-input {
  width: 100%;
  border: none;
  box-shadow: none;
  padding-left: 10px;
  min-height: 37px!important;
}

/*=========================================
 *=======   Login    ============
*=======================================*/
.top-align {
  text-align: right;
  line-height: 70px;
}
.top-align .sp-moview-icon-user {
  font-size: 20px;
  margin-right: 10px;
}



 /*=========================================
 *=======     Bottom       ============
 *=======================================*/

 .footer-wrap {
  margin-top: 80px;
 }

.footer-wrap .footer .row {
    border-top: solid 1px #4d4752;
    padding: 35px 0;
}

.menu-footer-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.menu-footer-menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu-footer-menu li a {
  font-size: 14px;
  color: #999;
  line-height: inherit;
}

.footer .text-right {
  color: #999;
  font-size: 14px;
}

.bottom-widget .widget .widget_title {
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 40px;
  position: relative;
  margin-left: 50px;
  color: #fff;
}

.bottom-widget .widget .widget_title:before {
  position: absolute;
  font-family: 'moview';
  left: -50px;
  font-size: 30px;
  top: -5px;
}



/* Category */

.bottom-widget {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-widget .widget.widget_nav_menu .widget_title,
.bottom-widget .widget.widget_categories .widget_title {
  margin-left: 65px;
}



/* key framework */
@-webkit-keyframes spMenuFadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,30px,0);
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes spMenuFadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
    -webkit-transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

.tab-content>.active {
  display: flex;
  flex-wrap: wrap;
}

.footer-wrap {
  background-color: #333;
}

.top-user-login svg{
  position: relative;
    top: 5px;
    left: -3px;
    fill: #bf1e2e;
}

.btn.btn-primary{
    font-size: 14px;
    outline: 0;
    border: 0;
    font-weight: 500;
    margin: 20px 0;
    background:   #bf1e2e;
    padding: 15px;
    white-space: normal;
    width: 100%;
    transition: all 0.5s;
    color: #fff;
}

.btn.btn-primary.btn-sm{
  font-size: 12px;
  outline: 0;
  border: 0;
  font-weight: 500;
  margin: 20px 0;
  background:   #bf1e2e;
  padding: 5px 15px;
  white-space: normal;
  width: 100%;
  transition: all 0.5s;
}

.btn.btn-primary:hover{

    background:	#519834;
}


.btn.btn-secondry{
  font-size: 14px;
  outline: 0;
  border: 0;
  font-weight: 500;
  margin: 20px 0;
  background:    #32bac9;
  padding: 15px;
  white-space: normal;
  width: 100%;
  transition: all 0.5s;
  color: #fff;
}

.btn.btn-secondry.btn-sm{
font-size: 12px;
outline: 0;
border: 0;
font-weight: 500;
margin: 20px 0;
background:   #32bac9;
padding: 5px 15px;
white-space: normal;
width: 100%;
transition: all 0.5s;
}

.btn.btn-secondry:hover{

  background:	#0ba2b3;
}


.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
  font-size: 24px;
  top: 50%;
  line-height: 16px;
  margin-top: -10px;
}

.btn:hover span {
  padding-right: 20px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}



.nav-tabs>li>a{
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
  font-size: 18px;
  color:#333;
  font-weight: 500;
  font-size: 20px!important;
}

.nav-tabs {
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover
{
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
  font-size: 18px;
  color:#bf1e2e!important;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}


.popover-content{
  font-weight: 300;
  color: #666;
  font-size: 12px;
  line-height: 18px;
}

.popover-title {
  background: none;
  font-weight: bold;
}

textarea{
  padding:10px;
  border:1px solid #e2e2e2;
  border-radius: 4px;
  height:80px;
  width:100%;
}
.newsletter-block .btn{
  margin:0!important;
  text-transform: uppercase;
}
.newsletter-block .form-control{
  border:1px solid #ddd!important;
  box-shadow: none;
  border-radius: 4px;

}
.newsletter-block .form-control:focus{
  border:1px solid rgb(180, 180, 180)!important;
  box-shadow: none;
}

.newsletter-block .newsletter-content{
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.1);
    box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.1);
    margin-top: 50px;
}
.newsletter-block .newsletter-content:hover{
  -webkit-box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.2);
  -moz-box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.2);
  box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.2);
}

.newsletter-block h3{
  position: relative;
  padding: 0px 0px 15px 30px;
  margin: 0;
  font-weight: 300;
}
.newsletter-block svg{
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 2px;
}

.search-filter{
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.2);
width: 300px;
position: fixed;
right:-300px;
top: 100px;
background: #fff;
padding: 20px 20px 15px 20px;
z-index: 2;
}

.filter-icon{
  position: absolute;
  position: absolute;
  left: -55px;
  width: 55px;
  height: 55px;
  top: 0;
  background:#519834;
  cursor: pointer;
  -webkit-box-shadow: -2px 0px 4px -1px rgba(0,0,0,0.49);
-moz-box-shadow: -2px 0px 4px -1px rgba(0,0,0,0.49);
box-shadow: -2px 0px 4px -1px rgba(0,0,0,0.49);
}
.filter-icon:hover{
  background:#bf1e2e;;
}

.filter-icon svg{
  fill: #fff;
    width: 28px;
    height: 28px;
    position: relative;
    top: 22px;
    left: 14px;
}
.filter-text{
  position: absolute;
    top: 2px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.search-filter h3{
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px dashed #e2e2e2;
}

.search-filter-list{
  padding:20px 0px 0 0px;
  margin:0;
  list-style: none;
  height: auto;
  overflow: hidden;
}

.search-filter-list > li{
  padding: 0;
    list-style: none;
    width: 100%;
    float: left;
    margin: 0;
    text-transform: uppercase;
    background: #f7f7f7;
    margin-bottom: 5px;
}


.search-filter-list > li > a{
  display: block;
  padding: 10px 10px 10px 35px;
  font-size: 16px;
  font-weight: 500;
  color: #bf1e2e;
  position: relative;
  border-bottom: 3px solid #e2e2e2;

}


.search-filter-list > li > a svg{
  position: absolute;
  left: 8px;
  width: 20px;
  top: 10px;
  fill: #bf1e2e;
}


.search-filter-sublist{
  padding:10px 0 10px 0;
  margin:0;
  list-style: none;
  height: auto;
  overflow: hidden;
  display: none;
  background: #fff;
}

.search-filter-sublist > li{
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
  margin: 0px;
  text-transform: uppercase;

}


.search-filter-sublist > li > a{
  display: block;
    padding: 4px 4px 4px 35px;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    position: relative;
}
.search-filter-sublist > li > a:hover{
  background-color: #f1f1f1;
  font-weight: 500;
  color:#519834;
}

.search-filter-sublist > li > a svg{
  position: absolute;
  left: 15px;
  width: 10px;
  top: 6px;
  fill: #333;
}

.search-filter-sublist > li > a:hover svg{
  fill:#519834;
}
.search-filter-sublist > li > a.active{
  color:#519834;
  background-color: #f5f5f5;
}
.search-filter-sublist > li > a svg{
  fill:#519834;
}


.search-filter-sublist .form-control{
  height: 45px;
  min-height: 20px;
  padding: 10px 10px 10px 20px;
  margin: 0 0 10px 0;
  border-radius: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-left: -10px;
  box-shadow: none!important;
}

.search-filter-clear {
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
  z-index: 1;
  padding: 5px;
  height: 30px;
  font-size: 12px;
  text-decoration: underline;
}


.is--movie-search li{
  width:50%;
}



/* SIDE BAR */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.1);
box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.1);
}

.sidebar-list{
  padding:0;
  margin:0;
  list-style: none;
  height: auto;
  overflow: hidden;
}

.sidebar-list > li{
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
  margin: 0;
}


.sidebar-list > li > a{
  display: block;
    padding: 15px 10px 15px 35px;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 2px solid #ab0e1d;
    border-right: 5px solid #ab0e1d;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    background: #bf1e2e;
    opacity: 1;

}
.sidebar-list > li > a:hover{
  opacity: 0.9;
}

.sidebar-list > li > a svg{
    position: absolute;
    left: 10px;
    width: 16px;
    top: 15px;
    fill: #fff;
}

.sidebar-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 1;
  padding: 5px;
  height: 30px;
}

.sidebar-close:hover {
  background: #f1f1f1;
}

.sidebar svg{
  width: 20px;
  height: 20px;
  fill: #333;
}


#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* SIDE BAR */


/* Modal */
.modal-backdrop{
  position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1;
  padding: 5px;
  height: 30px;
}

.modal-close:hover {
  background: #f1f1f1;
}

.modal svg{
  width: 20px;
  height: 20px;
  fill: #333;
}

.modal .title{
  font-weight: 300;
  font-size: 24px;
}

span[data-toggle="modal"]{
  cursor: pointer;
}

/* Modal */

.popover{
  background: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  padding:0;
  border: 2px solid #0ba2b3;
}

.popover.bottom>.arrow,
.popover.bottom>.arrow:after{
  border-bottom-color: #0ba2b3;
}

.popover-title{
  background: none;
  font-weight: 500;
  padding: 10px 15px;
  color: #fff;
  background: #0ba2b3;
  border-radius: 3px 3px 0 0;
}

.popover-content{
  color: #333;
}


.loader{
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 999;
  background:rgba(0, 0, 0, 0.8);
}

.loader-spinner {
  border: 4px solid #e2e2e2;
  border-radius: 50%;
  border-top: 4px solid #bf1e2e;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

.load-more .loader-spinner{
  width:24px;
  height: 24px;
  position: relative;
  top:auto;
  left: auto;
  margin:auto;
}
.tabs-loader{
  padding: 150px 0 500px 0;
}
.tabs-loader .loader-spinner{
  width:40px;
  height:40px;
  position: relative;
  top:auto;
  left: auto;
  margin:auto;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.load-more{
  padding:0 0 40px 0;
  text-align:center;
  width:100%;
}

.load-more span{
  position: relative;
  padding: 10px 10px 25px 10px;
  cursor: pointer;
  font-size: 12px;
  color:#666;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top:-20px;
  color:#bf1e2e;
}

.load-more span:hover{
  background: #f1f1f1;
}

.load-more span svg{
  position: absolute;
  bottom:10px;
  left: 31px;
}


.ui-widget.ui-widget-content{
  border:1px solid #ddd;
}
.ui-widget.ui-widget-content  .ui-menu-item  .ui-menu-item-wrapper{
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
}


.aboutus-banner{
  background: url(../images/about.jpg) 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: -30px;
}

.aboutus-content{
  padding:30px 15px;
}

.aboutus-content p{
  color:#666;
}

.breadcrumb-block{
  height: auto;
  overflow: hidden;
  margin: 0;
  padding:0;
  width:100%
}

.breadcrumb-block li{
  border-radius: 10px;
  background: #f1f1f1;
  font-size: 10px;
  list-style: none;
  float: left;
  padding: 0px 10px;
  margin: 5px 5px 0 0;
  color: #777;
  line-height: 18px;
  text-transform: uppercase;
  cursor:default;
}


.breadcrumb-block li:hover{
  background: #519834;
  color: #fff;
}