.jubamo-title {
    padding-bottom: 20px;
    position: relative;
}

.jubamo-title h3{
    margin-bottom: 0;
    margin-top: 20px;

}
.jubamo-title svg{
    fill: #bf1e2e;
    width: 36px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 0px;
}
.jubamo-title.yes {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
    padding-left: 45px;
}
.jubamo-title.no-border {
    border:0;
    margin-bottom: 0;
}

.jubamo-title .style-title {
    margin: 0;
}

.title-icon-style {
    margin-right: 15px;  
}

.jubamo-title .title-link {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    color: #808080;    
    margin-top: -25px;
    transition: 300ms;
    -webkit-transition: 300ms;
}

.jubamo-title .title-link  i {
    margin-left: 10px;
}

.movie-rating-wrapper{
    height: auto;
    overflow: hidden;
}

.movie-rating {
    font-size: 20px;
    display: inline-block;
    margin-right: 15px;
}
.movie-rating span{
    color: #ffc000;
}

.movie-rating-wrapper .movie-wishlist{
    float: right;
    filter: grayscale(100);
    opacity: 0.5;
    padding:0 0 0 10px;
}
.movie-rating-wrapper .movie-wishlist:hover,
.movie-rating-wrapper .movie-wishlist.active
{
    filter: none;
    opacity: 1;
}
.movie-wishlist svg{
    position: relative;
    top: 3px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.5;
}

.movie-wishlist.active svg{
    fill:#F40000;
    opacity: 1;
}

.movie-rating-wrapper .movie-like{
    float: right;
    padding:0 0 0 15px;
    position: relative;
    height: auto;
    overflow: hidden;
}

.movie-like svg{
    position: relative;
    top: 3px;
    width: 16px;
    float: right;
    cursor: pointer;
}

.movie-like-number{
    position: relative;
    top: 6px;
    float: right;
    font-size: 11px;
    color: #999;
    padding: 0 5px;
}

/* ---------------------------------- */
/* ------Recommed------- */
/* ---------------------------------- */
.recommend-movies .movie-details .movie-title a {
    color: #000;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* ---------------------------------- */
/* ------Featured Movie------- */
/* ---------------------------------- */

.movie-featured .item-inner {
    position: relative;
}
.movie-featured .item-inner:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,#000 100%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,#000 100%);
    transition: all .3s;
    -webkit-transition: all .3s;
}

.movie-featured .item-inner:hover:before{
    -webkit-background-image: linear-gradient(to bottom,rgba(0,0,0,0.8) 50%,#000 100%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.8) 50%,#000 100%);
}

.item-inner .movie-poster {
    overflow: hidden;
    position: relative;
    background-color: #000;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 480px;
}

.item-inner .movie-poster img{
    height: 480px;
    width: auto;
}

.item-inner .play-icon {
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%,-40%) scale(0);
    transform: translate(-50%,-40%) scale(0);
    position: absolute;
    font-size: 80px;
    color: #fff;
    z-index: 10;
    transition: 400ms;
    -webkit-transition: 400ms;
}

.item-inner:hover .play-icon {
    -webkit-transform: translate(-50%,-40%) scale(1);
    transform: translate(-50%,-40%) scale(1);
    text-decoration: none;
}

.movie-featured .item-inner .movie-details {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 2;
    color: #fff;
    padding: 30px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-timing-function: ease-in-out;
    timing-function: ease-in-out;
    font-weight: 400;
    display: none
}

.movie-featured .item-inner:hover .movie-details {
    top:0;
    display: block;
}

.movie-featured .item-inner .movie-details .cast a {
    margin-right: 5px;
}

.moview-rating {
    font-size: 19px;
}

.moview-rating span.star {
    font-family: 'moview';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    color: #ffc000;
}

.moview-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 16px;
    display: inline-block;
}

.moview-rating span.star:before {
    content: "\e927";
    padding-right: 5px;
}

.moview-rating-summary {
    font-size: 14px;
}

.movie-details .movie-title {
    margin: 5px 0;
    font-size: 22px;
}

.movie-details .movie-title a {
    color: #fff;
}

.single.single-movie .logged-in-as {
    margin: 0 15px 0px;
}

.single.single-movie .comment-form-rating-error label{
    font-weight: 500;
}

.moview-details {
    margin-top: 30px;
}

.movie-details .tags {
    font-size: 12px;
    display: block;
    font-weight: 400;
    line-height: normal;
    padding:5px 0 15px 0;
    height: auto;
    overflow: hidden;
}
.movie-details .tag {
    padding:2px 5px;
    border-radius: 4px;
    margin: 2px;
    float: left;
    background: none;
    color: #ef4036;
    border:1px solid  #ef4036;
}

.movie-details .tag.is--red {
    color: #ef4036;
    border:1px solid  #ef4036;
}
.movie-details .tag.is--green {
    color: #21c412;
    border:1px solid  #21c412;
}
.movie-details .tag.is--blue {
    color: #27cdf2;
    border:1px solid  #27cdf2;
}
.movie-details .tag.is--yellow {
    color: #f2b302;
    border:1px solid  #f5ba18;
}
.movie-details .tag.is--purple {
    color: #9e02f2;
    border:1px solid  #9e02f2;
}

.movie-details p {
    margin: 5px 0;
    font-weight: 300;
    color: #666;
    font-size: 12px;
    line-height: 18px;
}

.movie-details .cast {
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    overflow: hidden;
    height: 48px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.movie-details .cast span {
    font-weight: 400;
}

.movie-featured .movie-details
{
    padding-top:60px;
}
.movie-featured .btn{
    margin-top:60px;
}
.movie-featured .movie-details .movie-title
{
    margin:30px 0;
}

.movie-featured .item-inner .movie-details a {
    color: #fff;
    transition: 300ms;
    -webkit-transition: 300ms;
}
.movie-featured .item-inner:hover .movie-details .cast {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}
.movie-featured .item-inner .movie-poster img {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.movie-featured .item-inner:hover .movie-poster img {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .5;
}

/* ---------------------------------- */
/* ------spotlight------- */
/* ---------------------------------- */

.spotlight-post .list-inline {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.moview-common-layout {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.spotlight-post .list-inline li {
    margin-right: 30px;
    margin-left: 0;
}

.spotlight-post .list-inline >li>a {
    color: #000;
    font-weight: 400;
    position: relative;
    padding: 0 0 5px;
}

.spotlight-post .list-inline>li>a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: all .3s;
    transition: all .3s;
}


.spotlight-post .list-inline>li.active>a:after {
    width: 50%;
}

.moview-common-layout .item-inner{
    width: 24%;
    margin-right: 1%;
    background:#fff;
    margin-bottom: 30px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.1);
    box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.1);
    border:1px solid #e9e9e9;
}
.moview-common-layout .item-inner:hover{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.2);
    box-shadow: 0px 0px 5px 2px rgba(138,138,138,0.2);
}


.moview-common-layout .item-inner .movie-poster {
    position: relative;
}
.moview-common-layout .item-inner .movie-details{
        padding:15px;
        background: #fff;

}
.moview-common-layout .movie-details .movie-title{
    font-weight: 500;
}
.moview-common-layout .movie-details .movie-title a {
    color: #000;
}
.moviews-tag .movie-details .movie-title a {
    color: #000;
}
.moview-common-layout .item-inner .movie-poster:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,#000 100%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,#000 100%);
    transition: all .3s;
    -webkit-transition: all .3s;
    opacity: 0;
}

.moview-common-layout .item-inner .movie-poster:hover:before {
    opacity: 1;
}

.moview-common-layout .item-inner .play-icon {
    top:50%;
}

.movie-rating .jubamo-moviewstar {
    color: #ffc000;
}


.rating-summary {
    font-size: 16px;
    position: relative;
    font-weight: 500;
}
.movie-rating svg {
    fill: #ffc000;
    top: 2px;
    position: relative;
    width: 16px;
    height: 16px;
}


.moview-common-layout .movie-rating {
    margin-right: 5px;
}

.movie-details .movie-title {
    margin: 15px 0 5px 0;
    font-size: 20px;
    font-weight: 500;
}

.moview-common-layout .margin-bottom {
    margin-bottom: 30px;
}

.moview-common-layout .item-inner .movie-poster img {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;    
  height: 400px;
  max-width: 100%;
}
.moview-common-layout .item-inner:hover .movie-poster img {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.moview-common-layout .item-inner .movie-poster {
  background: none;
}

.moview-common-layout .item-inner:hover .btn-primary{
    background:	#519834;
}

.imbd{
    font-size: 11px;
    color: #666;
    font-weight: 100;
    font-style: italic;
    position: absolute;
    right: -38px;
    top: 3px;
    border-radius: 4px;
    padding: 0 5px 0 3px;
    line-height: 15px;
    background: #f1f1f1;
    display: block;
    text-align: center;
}
.movie-plot {
    position: relative;
    width:85px;
    float: left;
}

.movie-plot:after{
    content: "";
    border-right: 1px solid #e2e2e2;
    height: 20px;
    right: 15px;
    top: 1px;
    position: absolute;
}
.movie-pl
.movie-plot .plot-label{
    color:#000;
    font-weight: 500;
  }
  .movie-plot span[data-toggle="popover"]{
    position: absolute;
    left: 35px;
    cursor: pointer;
    height: 20px;
    top: 0px;
  }
  
  .movie-plot svg{
      fill:#0ba2b3;
  }

  .user-comments-link
  {
    width: auto;
    float: left;
    position: relative;
  }
  .user-comments-link .comment-count {
    position: absolute;
    left: 98px;
    font-size: 11px;
    color: #999;
    padding: 0 5px;
}
  .user-comments-link label{
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding: 0 30px 0 0;
    cursor: pointer;

  }

  .user-comments-link label svg{
    position: absolute;
    right: 3px;
    top: 0;
  }

  .user-comments
  {
    width: 100%;
    padding-top: 10px;
    float: left;
  }

  .user-comments .btn{
    width:100px!important;
    margin-top:10px!important;
    float: right;
    text-transform: uppercase;
    display: block
  }

  .user-comments-list{
      margin: 0;
      padding:10px 0;
      list-style:none;
      font-weight: 300;
      color: #666;
      font-size: 12px;
      line-height: 18px;
  }
  .user-comments-list > li{
    margin: 0 0 10px 0;
    padding: 0 0 10px 28px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}
.user-comments-list > li svg{
    position: absolute;
    left: 0px;
    top: 2px;
}


body .owl-carousel .owl-nav button{
    width:30px;
    height: 30px;
    color:#fff!important;
    position: absolute;
    top:50%;
    outline: none;
    opacity: 0.5;
    margin-top:-40px
}
body .owl-carousel .owl-nav button span{
    font-size: 60px;
}

body .owl-carousel .owl-nav button:hover{
    opacity: 1;
}

body .owl-carousel .owl-nav button.owl-prev{
    left:20px;
}

body .owl-carousel .owl-nav button.owl-next{
    right:20px;
}

body .owl-carousel .owl-dots{
    text-align:center
}

body .owl-carousel .owl-dots .owl-dot{
    border-radius: 50%;
    width:12px;
    height: 12px;
    margin: 15px 3px;
    outline: none;
    border: 1px solid #ccc;
}

body .owl-carousel .owl-dots .owl-dot.active{
    background: #bf1e2e;
    opacity: 1;
    border: 1px solid #bf1e2e;

}

.spotlight-post .moview-common-layout .item-inner .movie-poster img {
    max-width: 100%;
    width:100%;
}

.spotlight-post .item-inner .movie-poster{
    height:400px;
}