
/* Large Devices, Wide Screens */
@media screen and (max-width : 1199px) {
    .moview-common-layout .item-inner{
        width:32%;
    }
}

/* Medium Devices, Desktops */
@media screen and (max-width : 992px) {
    .moview-search-wrap .search-panel{
        font-size: 12px;
    }
    
    .moview-common-layout .item-inner{
        width:49%;
    }

    .newsletter-block .form-control{
        margin-bottom: 15px;
    }
}

/* Small Devices, Tablets */
@media screen and (max-width : 767px) {
    .moview-search-wrap .search-panel{
        font-size: 12px;
    }
    
    .moview-common-layout .item-inner{
        width:49%;
    }

    .newsletter-block .form-control{
        margin-bottom: 15px;
    }
}

/* Extra Small Devices, Phones */ 
@media screen and (max-width : 576px) {
    .moview-search-wrap .search-panel{
        font-size: 12px;
    }
    
    .moview-common-layout .item-inner{
        width:100%;
        margin:0 0 20px 0;
    }

    .newsletter-block .form-control{
        margin-bottom: 15px;
    }

    .load-more span{
        margin-top: 0;
    }

    .newsletter-block .newsletter-content{
        width:100%;
        padding: 20px 15px;
    }
    .newsletter-block h3{
        font-size: 18px;
        padding: 0px 0px 15px 25px;
        font-weight: 500;
    }

    .newsletter-block svg {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: -1px;
    }

    .footer-wrap {
        margin-top:30px;
    }

    .footer-wrap .footer .row{
        padding:15px 0;
    }

    .footer-wrap .footer .col-xs-6{
        width:100%;
        text-align: center;
        font-size: 11px;

    }

    .menu-footer-menu > li:last-child{
        margin-right: 0;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li>a{
        min-width:auto!important;
        padding:10px!important;
        font-size:16px!important;
    }
    .home-search{
        margin:0;
        padding: 16px;
    }

    .logo-wrapper .enter-logo{
        width: 100px;
        position: relative;
        top: 5px;
    }
    .main-menu-wrap {
        margin-right: 10px;
    }

    .col-xs-4.visible-xs {
        position: absolute;
        right: 0;
        width:200px;
    }
    .top-user-login{
        font-size: 12px;
    }
  


    .h3, h3 {
        font-size: 20px;
    }
    .jubamo-title svg {
        height: 22px;
    }

    .movie-details .movie-title {
        font-size: 18px;
    }
    .sidebar[style="width: 250px;"] ~ .sidebar-overlay{
        position: fixed;
        width:100%;
        height: 100%;
        background: #000;
        opacity: 0.9;
        top:0;
        left: 0;
        z-index: 1;
    }

    .search-filter{
        width:260px;
        top:135px;
    }
}

/* Custom, iPhone Retina */ 
@media screen and (max-width : 320px) {
    .logo-wrapper .enter-logo {
        width: 80px;
        position: relative;
        top: 7px;
    }
    .col-xs-4.visible-xs {
        position: absolute;
        right: 0;
        width:200px;
    }
  

}