﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jubamo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="~/css/bootstrap/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="~/css/jquery-ui.css" rel='stylesheet' type='text/css' />
    <link href="~/css/owl.carousel.css" rel='stylesheet' type='text/css' />
    <link href="~/css/app.css" rel='stylesheet' type='text/css' />
    <link href="~/css/movie.css" rel='stylesheet' type='text/css' />
    <link href="~/css/responsive.css" rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="loader" class="loader" style="display: none;">
        <div class="loader-spinner"></div>
    </div>
    <div id="page-sidebar" class="sidebar">
        <a id="sidebar-close" class="sidebar-close" href="javascript:void(0)" onclick="closeNav()">
            <svg viewBox="0 0 329.26933 329">
                <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path>
            </svg>
        </a>
        <ul class="sidebar-list">
            <li>
            <li>
                <a href="javascript:void(0)">
                    <svg viewBox="0 0 490.667 490.667">
                        <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z"></path>
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <svg viewBox="0 0 490.667 490.667">
                        <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z"></path>
                    </svg>
                    About us
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <svg viewBox="0 0 490.667 490.667">
                        <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z"></path>
                    </svg>
                    Watch List
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                    <svg viewBox="0 0 490.667 490.667">
                        <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z"></path>
                    </svg>
                    Login
                </a>
            </li>
            </li>
        </ul>
    </div>
    <div id="main">
        <header class="site-header header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="main-menu-wrap">
                            <button class="menu-button" onclick="openNav()">Open</button>
                        </div>
                        <div class="navbar-header">
                            <div class="logo-wrapper">
                                <h1>
                                    <a class="moview-navbar-brand" href="#">
                                        <img class="enter-logo img-responsive" src="~/images/logo.png" alt="Logo" title="Logo">
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 visible-xs">
                        <div class="top-align top-user-login">
                            <span data-toggle="modal" data-target="#loginModal">
                                Welcome Guest!
                            </span> <a>Login</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 home-search ">
                        <div class="home-search-btn">
                            <div id="moview_search" class="moview-search moview_search">
                                <div class="input-group moview-search-wrap">
                                    <form id="moview-search">
                                        <div class="search-panel">
                                            Search by movie name, platefrom, genre...
                                        </div>
                                        <div class="input-box">
                                            <input type="hidden" id="post-type-name" name="post_type" value="movie">
                                            <svg height="136pt" version="1.1" viewBox="-1 0 136 136.21852" width="136pt">
                                                <g id="surface1">
                                                    <path d="M 93.148438 80.832031 C 109.5 57.742188 104.03125 25.769531 80.941406 9.421875 C 57.851562 -6.925781 25.878906 -1.460938 9.53125 21.632812 C -6.816406 44.722656 -1.351562 76.691406 21.742188 93.039062 C 38.222656 104.707031 60.011719 105.605469 77.394531 95.339844 L 115.164062 132.882812 C 119.242188 137.175781 126.027344 137.347656 130.320312 133.269531 C 134.613281 129.195312 134.785156 122.410156 130.710938 118.117188 C 130.582031 117.980469 130.457031 117.855469 130.320312 117.726562 Z M 51.308594 84.332031 C 33.0625 84.335938 18.269531 69.554688 18.257812 51.308594 C 18.253906 33.0625 33.035156 18.269531 51.285156 18.261719 C 69.507812 18.253906 84.292969 33.011719 84.328125 51.234375 C 84.359375 69.484375 69.585938 84.300781 51.332031 84.332031 C 51.324219 84.332031 51.320312 84.332031 51.308594 84.332031 Z M 51.308594 84.332031 " />
                                                </g>
                                            </svg>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 hidden-xs ">
                        <div class="top-align top-user-login">
                            <span data-toggle="modal" data-target="#loginModal">
                                <span class="hidden-xs hidden-sm">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 478.024 478.024">
                                        <g>
                                            <path d="M411.703,73.561c-45.117-47.093-107.542-73.67-172.76-73.55C107.145-0.155,0.166,106.554,0,238.353    c-0.082,65.17,26.492,127.538,73.55,172.623c0.137,0.136,0.188,0.341,0.324,0.461c1.382,1.331,2.884,2.458,4.284,3.738    c3.84,3.413,7.68,6.946,11.725,10.24c2.167,1.707,4.42,3.413,6.639,4.983c3.823,2.85,7.646,5.7,11.639,8.329    c2.714,1.707,5.513,3.413,8.294,5.12c3.686,2.219,7.356,4.454,11.162,6.485c3.226,1.707,6.519,3.174,9.796,4.727    c3.584,1.707,7.117,3.413,10.786,4.949c3.669,1.536,7.356,2.731,11.076,4.062s6.929,2.56,10.496,3.652    c4.028,1.212,8.158,2.15,12.254,3.157c3.413,0.836,6.724,1.792,10.24,2.475c4.71,0.939,9.489,1.536,14.268,2.185    c2.953,0.41,5.837,0.99,8.823,1.28c7.817,0.768,15.701,1.195,23.654,1.195s15.838-0.427,23.654-1.195    c2.987-0.29,5.871-0.87,8.823-1.28c4.779-0.649,9.557-1.246,14.268-2.185c3.413-0.683,6.827-1.707,10.24-2.475    c4.096-1.007,8.226-1.946,12.254-3.157c3.567-1.092,7.014-2.423,10.496-3.652c3.482-1.229,7.441-2.56,11.076-4.062    s7.202-3.26,10.786-4.949c3.277-1.553,6.571-3.021,9.796-4.727c3.806-2.031,7.475-4.267,11.162-6.485    c2.782-1.707,5.581-3.26,8.294-5.12c3.994-2.628,7.817-5.478,11.639-8.329c2.219-1.707,4.471-3.243,6.639-4.983    c4.045-3.243,7.885-6.69,11.725-10.24c1.399-1.28,2.901-2.406,4.284-3.738c0.136-0.119,0.188-0.324,0.324-0.461    C499.644,319.798,502.881,168.732,411.703,73.561z M373.344,393.107c-3.106,2.731-6.315,5.325-9.557,7.834    c-1.911,1.468-3.823,2.918-5.786,4.318c-3.089,2.236-6.229,4.352-9.421,6.383c-2.321,1.485-4.693,2.918-7.083,4.318    c-3.004,1.707-6.059,3.413-9.148,5.12c-2.731,1.399-5.513,2.714-8.311,4.011s-5.888,2.679-8.909,3.891    c-3.021,1.212-6.229,2.355-9.387,3.413c-2.884,0.99-5.768,2.014-8.687,2.884c-3.413,1.024-6.98,1.86-10.513,2.714    c-2.765,0.648-5.495,1.382-8.294,1.929c-4.045,0.785-8.175,1.331-12.322,1.894c-2.355,0.307-4.693,0.734-7.066,0.973    c-6.554,0.631-13.193,1.007-19.9,1.007s-13.346-0.375-19.9-1.007c-2.372-0.239-4.71-0.666-7.066-0.973    c-4.147-0.563-8.277-1.109-12.322-1.894c-2.799-0.546-5.53-1.28-8.294-1.929c-3.533-0.853-7.049-1.707-10.513-2.714    c-2.918-0.87-5.803-1.894-8.687-2.884c-3.157-1.092-6.315-2.202-9.387-3.413c-3.072-1.212-5.973-2.543-8.909-3.891    s-5.581-2.611-8.311-4.011c-3.089-1.604-6.144-3.294-9.148-5.12c-2.389-1.399-4.762-2.833-7.083-4.318    c-3.191-2.031-6.332-4.147-9.421-6.383c-1.963-1.399-3.874-2.85-5.786-4.318c-3.243-2.509-6.451-5.12-9.557-7.834    c-0.751-0.563-1.434-1.28-2.167-1.929c0.763-58.057,38.06-109.321,93.065-127.915c27.503,13.083,59.435,13.083,86.938,0    c55.004,18.594,92.301,69.857,93.065,127.915C374.76,391.827,374.077,392.476,373.344,393.107z M179.43,136.849    c18.479-32.864,60.1-44.525,92.964-26.046s44.525,60.1,26.046,92.964c-6.131,10.904-15.141,19.914-26.046,26.046    c-0.085,0-0.188,0-0.29,0.102c-4.526,2.519-9.309,4.545-14.268,6.042c-0.887,0.256-1.707,0.597-2.645,0.819    c-1.707,0.444-3.499,0.751-5.257,1.058c-3.31,0.579-6.659,0.915-10.018,1.007h-1.946c-3.359-0.092-6.708-0.428-10.018-1.007    c-1.707-0.307-3.516-0.614-5.256-1.058c-0.905-0.222-1.707-0.563-2.645-0.819c-4.959-1.497-9.742-3.522-14.268-6.042l-0.307-0.102    C172.612,211.334,160.951,169.713,179.43,136.849z M405.753,357.336L405.753,357.336c-10.952-51.083-44.59-94.39-91.375-117.64    c38.245-41.661,35.475-106.438-6.186-144.683c-41.661-38.245-106.438-35.475-144.683,6.186    c-35.954,39.166-35.954,99.332,0,138.497c-46.785,23.251-80.423,66.557-91.375,117.64C6.69,265.153,28.366,137.371,120.549,71.927    s219.965-43.768,285.409,48.415c24.601,34.653,37.807,76.104,37.786,118.602C443.744,281.405,430.46,322.802,405.753,357.336z" />
                                        </g>
                                    </svg>
                                    Welcome Guest!
                                </span>
                                <a>Login</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main id="main" class="clearfix">
            <div id="search-filter" class="search-filter" style="display: none;">
                <div class="container">
                    <a id="search-filter-close" class="search-filter-close" href="javascript:void(0)">
                        <svg viewBox="0 0 329.26933 329">
                            <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" />
                        </svg>
                    </a>
                    <div class="jubamo-title yes no-border">
                        <h3>
                            <svg height="136pt" version="1.1" viewBox="-1 0 136 136.21852" width="136pt">
                                <g id="surface1">
                                    <path d="M 93.148438 80.832031 C 109.5 57.742188 104.03125 25.769531 80.941406 9.421875 C 57.851562 -6.925781 25.878906 -1.460938 9.53125 21.632812 C -6.816406 44.722656 -1.351562 76.691406 21.742188 93.039062 C 38.222656 104.707031 60.011719 105.605469 77.394531 95.339844 L 115.164062 132.882812 C 119.242188 137.175781 126.027344 137.347656 130.320312 133.269531 C 134.613281 129.195312 134.785156 122.410156 130.710938 118.117188 C 130.582031 117.980469 130.457031 117.855469 130.320312 117.726562 Z M 51.308594 84.332031 C 33.0625 84.335938 18.269531 69.554688 18.257812 51.308594 C 18.253906 33.0625 33.035156 18.269531 51.285156 18.261719 C 69.507812 18.253906 84.292969 33.011719 84.328125 51.234375 C 84.359375 69.484375 69.585938 84.300781 51.332031 84.332031 C 51.324219 84.332031 51.320312 84.332031 51.308594 84.332031 Z M 51.308594 84.332031 "></path>
                                </g>
                            </svg>
                            Search by
                        </h3>
                    </div>
                    <ul class="search-filter-list">
                        <li>
                            <a name="type" id="movie" href="javascript:void(0)">
                                <svg viewBox="0 0 512 512">
                                    <g>
                                        <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                        <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                                    </g>
                                </svg>
                                Movie
                            </a>

                            <ul class="search-filter-sublist is--movie-search">
                                <li>
                                    <input type="text" id="MoviewAutoComplete" class="form-control" placeholder="Please enter movie name" />
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a name="Platform" id="Platform" href="javascript:void(0)">
                                <svg viewBox="0 0 512 512">
                                    <g>
                                        <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                        <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                                    </g>
                                </svg>
                                Platform
                            </a>
                            <ul class="search-filter-sublist">
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        NETFLIX
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        Prime Video
                                    </a>

                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        SONY LIVE
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        HOTSTAR
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        YOUTUBE
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        NETFLIX
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a name="Genre" id="Genre" href="javascript:void(0)">
                                <svg viewBox="0 0 512 512">
                                    <g>
                                        <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                        <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                                    </g>
                                </svg>
                                Genre
                            </a>
                            <ul class="search-filter-sublist">
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        Drama
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        Comedy
                                    </a>

                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        Action
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        Thriller
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        Action
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                        </svg>
                                        Thriller
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="spotlight-post tabpanel">
                    <div class="jubamo-title yes">
                        <h3>
                            <svg viewBox="0 0 512 512">
                                <g>
                                    <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                    <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                                </g>
                            </svg>
                            About us
                        </h3>
                    </div>
                    <div class="aboutus-banner">

                    </div>
                    <div class="aboutus-content">
                        <p>Vivamus a ipsum mauris. Fusce placerat, leo in dignissim vulputate, felis tellus venenatis mauris, semper gravida orci ex sed risus. Mauris bibendum massa sapien, eu ultricies ex interdum in. Nam lectus nulla, pretium nec diam ut, egestas viverra est. Nunc nec dolor id ex dignissim tincidunt semper a est. Aliquam ornare magna erat, sit amet sodales ipsum porta tristique. Integer nec massa mi. Vivamus viverra venenatis fermentum. Duis venenatis lectus at venenatis aliquam. Sed varius nulla sed rhoncus placerat. Vestibulum dictum eu velit non mollis.</p>
                        <p>Morbi non arcu quis nisi imperdiet vulputate eu sed erat. Nunc dignissim ipsum ac est tempus viverra. </p>
                        <p>Nunc mattis facilisis lectus scelerisque suscipit. Phasellus et tortor dui. Suspendisse nec tortor vel eros sollicitudin lacinia a in sapien. Integer sed dui at metus viverra dapibus ac vitae magna. Fusce lacinia pharetra fringilla. Quisque id egestas nulla. Vestibulum vitae hendrerit justo. Pellentesque at sem tempus, tempor tortor quis, fringilla erat. </p>
                        <p>Vivamus a ipsum mauris. Fusce placerat, leo in dignissim vulputate, felis tellus venenatis mauris, semper gravida orci ex sed risus. Mauris bibendum massa sapien, eu ultricies ex interdum in. Nam lectus nulla, pretium nec diam ut, egestas viverra est. Nunc nec dolor id ex dignissim tincidunt semper a est. Aliquam ornare magna erat, sit amet sodales ipsum porta tristique. Integer nec massa mi. Vivamus viverra venenatis fermentum. Duis venenatis lectus at venenatis aliquam. Sed varius nulla sed rhoncus placerat. Vestibulum dictum eu velit non mollis.</p>
                        <p>Nunc mattis facilisis lectus scelerisque suscipit. Phasellus et tortor dui. Suspendisse nec tortor vel eros sollicitudin lacinia a in sapien. Integer sed dui at metus viverra dapibus ac vitae magna. Fusce lacinia pharetra fringilla. Quisque id egestas nulla. Vestibulum vitae hendrerit justo. Pellentesque at sem tempus, tempor tortor quis, fringilla erat. </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="newsletter-block">
                    <div class="newsletter-content">
                        <h3>
                            <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
                                <path style="fill:#F57C00;" d="M255.871,0c-29.455,0-53.333,23.878-53.333,53.333c0.05,2.559,0.286,5.112,0.704,7.637  c0.769,5.285,5.327,9.186,10.667,9.131c1.018-0.001,2.03-0.145,3.008-0.427c25.488-7.541,52.614-7.541,78.101,0  c3.031,0.75,6.237,0.168,8.811-1.6c2.629-1.798,4.385-4.614,4.843-7.765c0.383-2.314,0.597-4.652,0.64-6.997  C309.3,23.857,285.412-0.012,255.957,0C255.928,0,255.9,0,255.871,0z" />
                                <path style="fill:#FFA000;" d="M319.871,426.667h-128c-5.891,0-10.667,4.776-10.667,10.667c0,41.237,33.429,74.667,74.667,74.667  s74.667-33.429,74.667-74.667C330.538,431.442,325.763,426.667,319.871,426.667z" />
                                <path style="fill:#FFC107;" d="M454.719,388.459c-3.371-7.445-7.616-15.765-12.309-24.939  c-28.867-48.898-45.304-104.128-47.872-160.853c0-84.544-44.8-146.581-114.091-158.037c-40.434-6.499-81.649,5.516-112.256,32.725  c-33.881,29.576-52.678,72.811-51.2,117.76c-0.883,59.426-17.298,117.586-47.616,168.704c-4.587,9.045-8.768,17.28-12.096,24.619  c-9.614,21.203-0.22,46.186,20.984,55.801c5.53,2.508,11.536,3.791,17.608,3.762h320.341c23.281,0.07,42.211-18.747,42.28-42.028  c0.018-6.039-1.262-12.011-3.753-17.513H454.719z" />
                                <path style="fill:#FFD54F;" d="M113.642,405.333c-5.891,0-10.667-4.776-10.666-10.667c0-1.659,0.387-3.295,1.13-4.778l3.435-6.741  c31.862-55.009,49.825-116.959,52.331-180.48c0-54.123,25.152-117.333,96-117.333c5.891,0,10.667,4.776,10.667,10.667  c0,5.891-4.776,10.667-10.667,10.667c-69.291,0-74.667,73.472-74.667,96c-2.381,66.916-21.156,132.223-54.677,190.187l-3.328,6.592  C121.388,403.061,117.687,405.341,113.642,405.333z" />
                            </svg>
                            Subscribe now to get latest updates!
                        </h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="email" class="form-control" name="EMAIL" placeholder="Your email address" required="" autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-secondry col-xs-12"><span>Sign up Now!</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer-wrap">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="menu-footer-menu">
                                <li class="menu-item "><a href="#">Home</a></li>
                                <li class="menu-item "><a href="#">About</a></li>
                                <li class="menu-item"><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right">
                            © 2020 Jubamo.com. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <a id="modal-close" class="modal-close" href="javascript:void(0)" data-dismiss="modal">
                        <svg viewBox="0 0 329.26933 329">
                            <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path>
                        </svg>
                    </a>
                    <h2 class="title toggle-login">Login</h2>
                    <h2 class="title toggle-forgot-password" style="display:none;">Forgot password</h2>
                    <h2 class="title toggle-register" style="display:none;">Register</h2>
                </div>
                <div class="modal-body" style="padding-bottom:40px;">
                    <form id="login" action="login" method="post">
                        <div class="login-error alert alert-danger" role="alert" style="display: none;">
                            Please enter a valid username.<br />
                            Please enter a correct password.s
                        </div>
                        <div class="login-box toggle-login">
                            <input type="text" id="username" name="username" class="form-control" placeholder="User Name">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                            <button type="submit" class="btn btn-primary"><span>LOGIN</span></button>
                        </div>
                        <div class="forgot-password-box toggle-forgot-password" style="display:none;">
                            <input type="password" id="password" name="password" class="form-control" placeholder="New Password">
                            <button type="submit" class="btn btn-primary"><span>Change Password</span></button>
                        </div>
                        <div class="register-box toggle-register" style="display:none;">
                            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name">
                            <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email Address">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                            <button type="submit" class="btn btn-primary"><span>Register</span></button>
                        </div>
                        <div class="text-right"><a href="#" id="RegisterLink">Register</a> | <a href="#" id="ForgotPasswordLink">Forgot password?</a></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="~/scripts//jquery.min.js"></script>
    <script src="~/scripts//jquery-ui.min.js"></script>
    <script src="~/scripts//bootstrap.min.js"></script>
    <script src="~/scripts//owl.carousel.min.js"></script>
    <script src="~/scripts/app.js"></script>
</body>
</html>
