﻿@model Jubamo.Models.ContentVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Model.StaticContentPath/images/icon.png">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <meta name="description" content="Discover The Best Content On Online Plaforms">

    <title>Jubamo - discover the best movies and tv shows</title>

    <meta property="og:title" content="Jubamo" />
    <meta property="og:description" content="Discover The Best Movies and TV Shows On OTT Plaforms" />
    <meta property="og:type" content="website" />
    <meta property="og:image" itemprop="image" content="@Model.StaticContentPath/images/preview.jpg" />
    <meta property="og:url" content="/" />

    <link href="@Model.StaticContentPath/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="@Model.StaticContentPath/css/jquery-ui.css" rel='stylesheet' type='text/css' />
    <link href="@Model.StaticContentPath/css/owl.carousel.css" rel='stylesheet' type='text/css' />
    <link href="@Model.StaticContentPath/css/app.css" rel='stylesheet' type='text/css' />
    <link href="@Model.StaticContentPath/css/movie.css" rel='stylesheet' type='text/css' />
    <link href="@Model.StaticContentPath/css/responsive.css" rel='stylesheet' type='text/css' />

    @*@if (Model.Environment == "localhost")
        {
            <link href="~/css/bootstrap/bootstrap.min.css" rel='stylesheet' type='text/css' />
            <link href="~/css/jquery-ui.css" rel='stylesheet' type='text/css' />
            <link href="~/css/owl.carousel.css" rel='stylesheet' type='text/css' />
            <link href="~/css/app.css" rel='stylesheet' type='text/css' />
            <link href="~/css/movie.css" rel='stylesheet' type='text/css' />
            <link href="~/css/responsive.css" rel='stylesheet' type='text/css' />
        }
        else
        {
            <link href="@Model.StaticContentPath/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/jquery-ui.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/owl.carousel.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/app.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/movie.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/responsive.css" rel='stylesheet' type='text/css' />
        }*@
    @*<environment include="QA">
            <link href="~/css/bootstrap/bootstrap.min.css" rel='stylesheet' type='text/css' />
            <link href="~/css/jquery-ui.css" rel='stylesheet' type='text/css' />
            <link href="~/css/owl.carousel.css" rel='stylesheet' type='text/css' />
            <link href="~/css/app.css" rel='stylesheet' type='text/css' />
            <link href="~/css/movie.css" rel='stylesheet' type='text/css' />
            <link href="~/css/responsive.css" rel='stylesheet' type='text/css' />
        </environment>*@
    @*<environment include="Development">
            <link href="@Model.StaticContentPath/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/jquery-ui.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/owl.carousel.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/app.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/movie.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/responsive.css" rel='stylesheet' type='text/css' />
        </environment>
        <environment include="Production">
            <link href="@Model.StaticContentPath/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/jquery-ui.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/owl.carousel.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/app.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/movie.css" rel='stylesheet' type='text/css' />
            <link href="@Model.StaticContentPath/css/responsive.css" rel='stylesheet' type='text/css' />
        </environment>*@
    <meta name="google-site-verification" content="zACMpdbholaHFXKqdWU8zmHLfdtMqW_FngxWbO7tcMY" />
</head>
<body>
    <input type="hidden" id="mixpanelKey" value=@Model.MixpanelKey>
   
    <div id="loader" class="loader" style="display: none;">
        <div class="loader-spinner"></div>
    </div>

    <div id="page-sidebar" class="sidebar">
        <a id="sidebar-close" class="sidebar-close" href="javascript:void(0)" onclick="closeNav()">
            <svg viewBox="0 0 329.26933 329">
                <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path>
            </svg>
        </a>
        <ul class="sidebar-list">
            <li>
            <li>
                <a href="/home/index">
                    <svg viewBox="0 0 490.667 490.667">
                        <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z"></path>
                    </svg>
                    Home
                </a>
            </li>
            @*<li>
                    <a href="javascript:void(0)">
                        <svg viewBox="0 0 490.667 490.667">
                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z"></path>
                        </svg>
                        About us
                    </a>
                </li>*@
            @*<li>
                    <a href="javascript:void(0)">
                        <svg viewBox="0 0 490.667 490.667">
                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z"></path>
                        </svg>
                        Watch List
                    </a>
                </li>*@
            @*<li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                        <svg viewBox="0 0 490.667 490.667">
                            <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z"></path>
                        </svg>
                        Login
                    </a>
                </li>*@
            </li>
        </ul>
    </div>
    <div id="main">
        <header class="site-header header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="main-menu-wrap">
                            <button class="menu-button" onclick="openNav()">Open</button>
                        </div>
                        <div class="navbar-header">
                            <div class="logo-wrapper">
                                <h1>
                                    <a class="moview-navbar-brand" href="/home/index">
                                        <img class="enter-logo img-responsive" src="~/images/logo.png" alt="Logo" title="Logo">
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-4 visible-xs">
                            <div class="top-align top-user-login">
                                <span data-toggle="modal" data-target="#loginModal">
                                    Welcome Guest!
                                </span> <a>Login</a>
                                </span>
                            </div>
                        </div>*@
                    <div class="col-sm-5 home-search ">
                        <div class="home-search-btn">
                            <div id="moview_search" class="moview-search moview_search">
                                <div class="input-group moview-search-wrap">
                                    @*<form id="moview-search">*@
                                    <div class="input-box">
                                        <input type="text" value="" id="MoviewAutoComplete" placeholder="Search by movie name">
                                        <span id="spnSearchMovie" class="input-movie-search">
                                            <svg height="136pt" version="1.1" viewBox="-1 0 136 136.21852" width="136pt">
                                                <g id="surface1">
                                                    <path d="M 93.148438 80.832031 C 109.5 57.742188 104.03125 25.769531 80.941406 9.421875 C 57.851562 -6.925781 25.878906 -1.460938 9.53125 21.632812 C -6.816406 44.722656 -1.351562 76.691406 21.742188 93.039062 C 38.222656 104.707031 60.011719 105.605469 77.394531 95.339844 L 115.164062 132.882812 C 119.242188 137.175781 126.027344 137.347656 130.320312 133.269531 C 134.613281 129.195312 134.785156 122.410156 130.710938 118.117188 C 130.582031 117.980469 130.457031 117.855469 130.320312 117.726562 Z M 51.308594 84.332031 C 33.0625 84.335938 18.269531 69.554688 18.257812 51.308594 C 18.253906 33.0625 33.035156 18.269531 51.285156 18.261719 C 69.507812 18.253906 84.292969 33.011719 84.328125 51.234375 C 84.359375 69.484375 69.585938 84.300781 51.332031 84.332031 C 51.324219 84.332031 51.320312 84.332031 51.308594 84.332031 Z M 51.308594 84.332031 " />
                                                </g>
                                            </svg>
                                        </span>
                                    </div>
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-3 hidden-xs ">
                            <div class="top-align top-user-login">
                                <span data-toggle="modal" data-target="#loginModal">
                                    <span class="hidden-xs hidden-sm">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 478.024 478.024">
                                            <g>
                                                <path d="M411.703,73.561c-45.117-47.093-107.542-73.67-172.76-73.55C107.145-0.155,0.166,106.554,0,238.353    c-0.082,65.17,26.492,127.538,73.55,172.623c0.137,0.136,0.188,0.341,0.324,0.461c1.382,1.331,2.884,2.458,4.284,3.738    c3.84,3.413,7.68,6.946,11.725,10.24c2.167,1.707,4.42,3.413,6.639,4.983c3.823,2.85,7.646,5.7,11.639,8.329    c2.714,1.707,5.513,3.413,8.294,5.12c3.686,2.219,7.356,4.454,11.162,6.485c3.226,1.707,6.519,3.174,9.796,4.727    c3.584,1.707,7.117,3.413,10.786,4.949c3.669,1.536,7.356,2.731,11.076,4.062s6.929,2.56,10.496,3.652    c4.028,1.212,8.158,2.15,12.254,3.157c3.413,0.836,6.724,1.792,10.24,2.475c4.71,0.939,9.489,1.536,14.268,2.185    c2.953,0.41,5.837,0.99,8.823,1.28c7.817,0.768,15.701,1.195,23.654,1.195s15.838-0.427,23.654-1.195    c2.987-0.29,5.871-0.87,8.823-1.28c4.779-0.649,9.557-1.246,14.268-2.185c3.413-0.683,6.827-1.707,10.24-2.475    c4.096-1.007,8.226-1.946,12.254-3.157c3.567-1.092,7.014-2.423,10.496-3.652c3.482-1.229,7.441-2.56,11.076-4.062    s7.202-3.26,10.786-4.949c3.277-1.553,6.571-3.021,9.796-4.727c3.806-2.031,7.475-4.267,11.162-6.485    c2.782-1.707,5.581-3.26,8.294-5.12c3.994-2.628,7.817-5.478,11.639-8.329c2.219-1.707,4.471-3.243,6.639-4.983    c4.045-3.243,7.885-6.69,11.725-10.24c1.399-1.28,2.901-2.406,4.284-3.738c0.136-0.119,0.188-0.324,0.324-0.461    C499.644,319.798,502.881,168.732,411.703,73.561z M373.344,393.107c-3.106,2.731-6.315,5.325-9.557,7.834    c-1.911,1.468-3.823,2.918-5.786,4.318c-3.089,2.236-6.229,4.352-9.421,6.383c-2.321,1.485-4.693,2.918-7.083,4.318    c-3.004,1.707-6.059,3.413-9.148,5.12c-2.731,1.399-5.513,2.714-8.311,4.011s-5.888,2.679-8.909,3.891    c-3.021,1.212-6.229,2.355-9.387,3.413c-2.884,0.99-5.768,2.014-8.687,2.884c-3.413,1.024-6.98,1.86-10.513,2.714    c-2.765,0.648-5.495,1.382-8.294,1.929c-4.045,0.785-8.175,1.331-12.322,1.894c-2.355,0.307-4.693,0.734-7.066,0.973    c-6.554,0.631-13.193,1.007-19.9,1.007s-13.346-0.375-19.9-1.007c-2.372-0.239-4.71-0.666-7.066-0.973    c-4.147-0.563-8.277-1.109-12.322-1.894c-2.799-0.546-5.53-1.28-8.294-1.929c-3.533-0.853-7.049-1.707-10.513-2.714    c-2.918-0.87-5.803-1.894-8.687-2.884c-3.157-1.092-6.315-2.202-9.387-3.413c-3.072-1.212-5.973-2.543-8.909-3.891    s-5.581-2.611-8.311-4.011c-3.089-1.604-6.144-3.294-9.148-5.12c-2.389-1.399-4.762-2.833-7.083-4.318    c-3.191-2.031-6.332-4.147-9.421-6.383c-1.963-1.399-3.874-2.85-5.786-4.318c-3.243-2.509-6.451-5.12-9.557-7.834    c-0.751-0.563-1.434-1.28-2.167-1.929c0.763-58.057,38.06-109.321,93.065-127.915c27.503,13.083,59.435,13.083,86.938,0    c55.004,18.594,92.301,69.857,93.065,127.915C374.76,391.827,374.077,392.476,373.344,393.107z M179.43,136.849    c18.479-32.864,60.1-44.525,92.964-26.046s44.525,60.1,26.046,92.964c-6.131,10.904-15.141,19.914-26.046,26.046    c-0.085,0-0.188,0-0.29,0.102c-4.526,2.519-9.309,4.545-14.268,6.042c-0.887,0.256-1.707,0.597-2.645,0.819    c-1.707,0.444-3.499,0.751-5.257,1.058c-3.31,0.579-6.659,0.915-10.018,1.007h-1.946c-3.359-0.092-6.708-0.428-10.018-1.007    c-1.707-0.307-3.516-0.614-5.256-1.058c-0.905-0.222-1.707-0.563-2.645-0.819c-4.959-1.497-9.742-3.522-14.268-6.042l-0.307-0.102    C172.612,211.334,160.951,169.713,179.43,136.849z M405.753,357.336L405.753,357.336c-10.952-51.083-44.59-94.39-91.375-117.64    c38.245-41.661,35.475-106.438-6.186-144.683c-41.661-38.245-106.438-35.475-144.683,6.186    c-35.954,39.166-35.954,99.332,0,138.497c-46.785,23.251-80.423,66.557-91.375,117.64C6.69,265.153,28.366,137.371,120.549,71.927    s219.965-43.768,285.409,48.415c24.601,34.653,37.807,76.104,37.786,118.602C443.744,281.405,430.46,322.802,405.753,357.336z" />
                                            </g>
                                        </svg>
                                        Welcome Guest!
                                    </span>
                                    <a>Login</a>
                                </span>
                            </div>
                        </div>*@
                </div>
            </div>
        </header>
        <div id="search-filter" class="search-filter">
            <span class="filter-icon">
                <span class="filter-text">Filters</span>
                <svg height="512" viewBox="0 0 512 512" width="512">
                    <g>
                        <path d="m497 365h-10v-283.596c0-20.073-16.331-36.404-36.404-36.404h-389.192c-20.073 0-36.404 16.331-36.404 36.404v283.596h-10c-8.284 0-15 6.716-15 15 0 47.972 39.028 87 87 87h338c47.972 0 87-39.028 87-87 0-8.284-6.716-15-15-15zm-442-283.596c0-3.531 2.873-6.404 6.404-6.404h389.191c3.531 0 6.404 2.873 6.404 6.404v283.596h-401.999zm370 355.596h-338c-26.241 0-48.397-17.823-54.998-42h447.995c-6.601 24.177-28.756 42-54.997 42z" />
                        <path d="m151 199.469v-76.469c0-8.284-6.716-15-15-15s-15 6.716-15 15v76.469c-18.58 6.276-32 23.86-32 44.531s13.42 38.255 32 44.531v28.469c0 8.284 6.716 15 15 15s15-6.716 15-15v-28.469c18.58-6.276 32-23.86 32-44.531s-13.42-38.255-32-44.531zm-15 61.531c-9.374 0-17-7.626-17-17s7.626-17 17-17 17 7.626 17 17-7.626 17-17 17z" />
                        <path d="m271 151.469v-28.469c0-8.284-6.716-15-15-15s-15 6.716-15 15v28.469c-18.58 6.276-32 23.86-32 44.531s13.42 38.255 32 44.531v76.469c0 8.284 6.716 15 15 15s15-6.716 15-15v-76.469c18.58-6.276 32-23.86 32-44.531s-13.42-38.255-32-44.531zm-15 61.531c-9.374 0-17-7.626-17-17s7.626-17 17-17 17 7.626 17 17-7.626 17-17 17z" />
                        <path d="m391 199.469v-76.469c0-8.284-6.716-15-15-15s-15 6.716-15 15v76.469c-18.58 6.276-32 23.86-32 44.531s13.42 38.255 32 44.531v28.469c0 8.284 6.716 15 15 15s15-6.716 15-15v-28.469c18.58-6.276 32-23.86 32-44.531s-13.42-38.255-32-44.531zm-15 61.531c-9.374 0-17-7.626-17-17s7.626-17 17-17 17 7.626 17 17-7.626 17-17 17z" />
                    </g>
                </svg>
            </span>
            <h3 style="text-transform:none;">Apply Filters</h3>
            <ul id="selectedfilters" class="breadcrumb-block"></ul>
            <a id="search-filter-clear" class="search-filter-clear" href="javascript:void(0)">
                Clear All
            </a>
            <ul id="filter" class="search-filter-list">
                <li style="text-transform:none;">
                    <a name="Platform" id="Platform" href="javascript:void(0)">
                        <svg viewBox="0 0 512 512">
                            <g>
                                <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                            </g>
                        </svg>
                        Platform
                    </a>
                    <ul id="platformOptions" class="search-filter-sublist">
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Netflix
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Prime Video
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Hotstar
                            </a>
                        </li>
                    </ul>
                </li>
                <li style="text-transform:none;">
                    <a name="Genre" id="Genre" href="javascript:void(0)">
                        <svg viewBox="0 0 512 512">
                            <g>
                                <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                            </g>
                        </svg>
                        Genre
                    </a>
                    <ul id="genreOptions" class="search-filter-sublist">
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Drama
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Action
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Thriller
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Mystery
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Horror
                            </a>
                        </li>
                    </ul>
                </li>
                <li style="text-transform:none;">
                    <a name="Type" id="Type" href="javascript:void(0)">
                        <svg viewBox="0 0 512 512">
                            <g>
                                <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                            </g>
                        </svg>
                        Type
                    </a>
                    <ul id="typeOptions" class="search-filter-sublist">
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Movie
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                TV Series
                            </a>
                        </li>
                    </ul>
                </li>
                <li style="text-transform:none;">
                    <a name="Language" id="Language" href="javascript:void(0)">
                        <svg viewBox="0 0 512 512">
                            <g>
                                <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                            </g>
                        </svg>
                        Language
                    </a>
                    <ul id="languageOptions" class="search-filter-sublist">
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                English
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Hindi
                            </a>
                        </li>
                    </ul>
                </li>
                <li style="text-transform:none;">
                    <a name="imdb" id="imdb" href="javascript:void(0)">
                        <svg viewBox="0 0 512 512">
                            <g>
                                <path d="m201 356.664 139.381-100.664-139.381-100.664z"></path>
                                <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z"></path>
                            </g>
                        </svg>
                        Rating
                    </a>
                    <ul id="imdbRatingOptions" class="search-filter-sublist">
                        <li style="text-transform:none;">
                            <a id="5" href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Imdb rating > 5.0
                            </a>
                        </li>
                        <li style="text-transform:none;">
                            <a id="6" href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Imdb rating > 6.0
                            </a>
                        </li>
                        <li style="text-transform:none;">
                            <a id="7" href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Imdb rating > 7.0
                            </a>
                        </li>
                        <li style="text-transform:none;">
                            <a id="8" href="javascript:void(0)">
                                <svg viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;">
                                    <path d="M135.629,2.994c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82  l227.115,227.136L120.525,472.328c-4.237,4.093-4.355,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262  c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.629,2.994z" />
                                </svg>
                                Imdb rating > 8.0
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <main id="main" class="clearfix">
            <div id="movie-featured">
                <div class="container">
                    <div class="jubamo-title yes no-border">
                        <h3>
                            <svg viewBox="0 0 512 512">
                                <g>
                                    <path d="m201 356.664 139.381-100.664-139.381-100.664z" />
                                    <path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm118.782 268.161-180 130c-2.605 1.881-5.687 2.84-8.784 2.84-2.333 0-4.673-.543-6.827-1.645-5.015-2.565-8.171-7.723-8.171-13.356v-260c0-5.633 3.156-10.791 8.171-13.355s11.044-2.103 15.611 1.195l180 130c3.905 2.82 6.218 7.344 6.218 12.16s-2.313 9.341-6.218 12.161z" />
                                </g>
                            </svg>
                            Top picks for you
                        </h3>
                    </div>
                </div>
                <div class="movie-featured">
                    <div class="loop owl-carousel">
                        @foreach (var item in Model.TopSection)
                        {
                            <div class="item">
                                <div class="item-inner">
                                    <div class="movie-poster">
                                        @if (item.ImageName == "N/A")
                                        {
                                            <img src='@Model.StaticContentPath/images/ina.jpg' />
                                        }
                                        else
                                        {
                                            @if (item.ImageSource == "name")
                                            {
                                                <img src='@Model.StaticContentPath/images/@item.ImageName' alt="">
                                            }
                                            else
                                            {
                                                <img src='@item.ImageName' alt="">
                                            }
                                        }
                                    </div>
                                    <div class="movie-details clearfix">
                                        <div class="movie-rating-wrapper">
                                            <div class="movie-rating">
                                                <svg viewBox="0 -10 511.98685 511">
                                                    <path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0"></path>
                                                </svg>
                                            </div>
                                            <span class="rating-summary">
                                            @{ var rating = item.Rating; }
                                            @if(item.Rating == "NA")
                                            {
                                                rating = "7.5";
                                            }
                                            <span>@rating</span>/10 <span class="imbd">imdb</span>
                                            </span>
                                            @*<span class="movie-wishlist active">
                                                    <svg viewBox="0 0 512 512">
                                                        <g>
                                                            <path d="m490.007 217.504-69.27-43.111c-48.764-30.351-105.73-46.393-164.737-46.393s-115.973 16.042-164.737 46.393l-69.27 43.111c-13.771 8.571-21.993 22.962-21.993 38.496s8.222 29.925 21.993 38.496l69.27 43.111c48.764 30.351 105.73 46.393 164.737 46.393s115.973-16.042 164.737-46.393l69.271-43.111c13.77-8.571 21.992-22.962 21.992-38.496s-8.222-29.925-21.993-38.496zm-234.007 118.496c-44.112 0-80-35.888-80-80s35.888-80 80-80 80 35.888 80 80-35.888 80-80 80zm-217.098-68.672c-4.386-2.73-6.902-6.859-6.902-11.328s2.516-8.598 6.901-11.328l69.27-43.111c23.989-14.93 50.218-25.8 77.467-32.629-25.38 20.549-41.638 51.943-41.638 87.068s16.258 66.519 41.638 87.069c-27.249-6.829-53.478-17.699-77.467-32.629zm434.197 0-69.27 43.111c-23.989 14.93-50.217 25.8-77.467 32.629 25.38-20.549 41.638-51.943 41.638-87.068s-16.258-66.519-41.638-87.069c27.249 6.829 53.478 17.699 77.467 32.629l69.269 43.111c4.386 2.73 6.902 6.86 6.902 11.329s-2.516 8.599-6.901 11.328z" />
                                                            <circle cx="256" cy="256" r="32" />
                                                        </g>
                                                    </svg>
                                                </span>*@
                                            @*<span class="movie-like">
                                                    <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
                                                        <rect x="10.667" y="234.667" style="fill:#0277BD;" width="149.333" height="256"></rect>
                                                        <path style="fill:#01579B;" d="M160,501.333H10.667C4.776,501.333,0,496.558,0,490.667v-256C0,228.776,4.776,224,10.667,224H160  c5.891,0,10.667,4.776,10.667,10.667v256C170.667,496.558,165.891,501.333,160,501.333z M21.333,480h128V245.333h-128V480z"></path>
                                                        <path style="fill:#ECEFF1;" d="M160,448c18.59,13.606,40.965,21.064,64,21.333h197.333c20.571,0.072,37.306-16.546,37.378-37.118  c0.036-10.343-4.23-20.236-11.778-27.309c20.37-2.201,35.1-20.499,32.899-40.869c-0.956-8.848-5.061-17.057-11.565-23.131  c20.373-2.177,35.124-20.458,32.946-40.831c-1.337-12.508-8.921-23.487-20.146-29.164c20.018-12.432,26.167-38.738,13.735-58.756  c-7.763-12.5-21.42-20.118-36.135-20.156H309.333c11.719-30.799,18.905-63.136,21.333-96c0-40-34.667-74.667-53.333-74.667  c-11.512,0.168-22.69,3.894-32,10.667v74.667l-64,138.667L160,256V448z"></path>
                                                        <path style="fill:#01579B;" d="M421.333,480H224c-25.865-0.206-50.969-8.783-71.552-24.448c-1.999-2.004-3.12-4.721-3.115-7.552V256  c0-4.037,2.279-7.728,5.888-9.536l17.984-9.003l61.461-133.12V32c-0.007-3.242,1.461-6.312,3.989-8.341  c11.226-8.25,24.747-12.791,38.677-12.992c24.683,0,64,39.061,64,85.333c-1.612,29.11-7.359,57.842-17.067,85.333h134.4  c29.455,0,53.333,23.878,53.333,53.333c0.035,13.237-4.916,26.002-13.867,35.755c18.566,18.691,18.464,48.894-0.227,67.46  c-3.591,3.567-7.728,6.54-12.253,8.807c3.32,6.62,5.037,13.928,5.013,21.333c-0.02,18.056-10.212,34.561-26.347,42.667  c3.32,6.62,5.037,13.928,5.013,21.333C469.286,458.508,447.82,479.965,421.333,480z M170.667,443.115  c16.153,9.666,34.517,15.021,53.333,15.552h197.333C436.056,458.655,447.988,446.723,448,432c0.001-7.328-3.053-14.324-8.427-19.307  c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29c14.517-1.534,25.042-14.547,23.507-29.064  c-0.67-6.34-3.609-12.224-8.275-16.568c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29  c14.518-1.53,25.046-14.539,23.516-29.056c-0.946-8.98-6.411-16.856-14.492-20.885c-5.235-2.702-7.289-9.135-4.587-14.371  c0.889-1.724,2.232-3.172,3.883-4.189c14.999-9.347,19.581-29.083,10.234-44.082c-5.794-9.298-15.941-14.985-26.896-15.075H309.333  c-5.891-0.003-10.664-4.781-10.661-10.672c0.001-1.296,0.237-2.581,0.699-3.792C310.612,158.61,317.559,127.561,320,96  c0-34.944-30.976-64-42.667-64c-7.482,0.121-14.815,2.108-21.333,5.781v68.885c-0.002,1.546-0.336,3.074-0.981,4.48l-64,138.667  c-1.016,2.192-2.746,3.975-4.907,5.056l-15.445,7.723V443.115z"></path>
                                                    </svg>
                                                    <span class="movie-like-number">2756</span>
                                                </span>*@
                                        </div>
                                        <div class="movie-name">
                                            <h4 class="movie-title"><a href="#">@item.Name (@item.Year)</a></h4>
                                            <input type="hidden" value=@item.Name />
                                            <div class="tags">
                                                <span class="tag is--is--purple">@item.Type</span>
                                                <span class="tag is--purple">@item.Genre</span>
                                                @if(item.Language != "N/A")
                                                {
                                                  <span class="tag is--yellow">@item.Language</span>
                                                }
                                                <span class="tag is--blue">@item.Platform</span>
                                            </div>
                                            <div><a href=@item.Watchlink target="_blank" class="btn btn-primary col-xs-12"><span onclick="trackContentClicked('@item.Type','@item.Name','@item.Platform','top')">Watch on @item.Platform</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="spotlight-post tabpanel">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="availableTab" data-toggle="tab" href="#tabAvailable">All</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tabAvailable" class="tab-pane fade in active">
                            <div id="availableSection" class="spotlight moview-common-layout tab-pane active fade in">
                                @foreach (var item in Model.AvailableSection)
                                {
                                    <div class="item-inner">
                                        <div class="movie-poster">
                                            @if (item.ImageName == "N/A")
                                            {
                                                <img src='@Model.StaticContentPath/images/ina.jpg' />
                                            }
                                            else
                                            {
                                                @if (item.ImageSource == "name")
                                                {
                                                    <img src='@Model.StaticContentPath/images/@item.ImageName' alt="">
                                                }
                                                else
                                                {
                                                    <img src='@item.ImageName' alt="">
                                                }
                                            }

                                        </div>
                                        <div class="movie-details clearfix">
                                            <div class="movie-rating-wrapper">
                                                <div class="movie-rating">
                                                    <svg viewBox="0 -10 511.98685 511">
                                                        <path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" />
                                                    </svg>
                                                </div>
                                                <span class="rating-summary">
                                                    @{ var rating = item.Rating; }
                                                    @if (item.Rating == "N/A")
                                                    {
                                                        rating = "7.5";
                                                    }
                                                    <span>@rating</span>/10 <span class="imbd">imdb</span>
                                                </span>
                                                @*<span class="movie-wishlist active">
                                                        <svg viewBox="0 0 512 512">
                                                            <g>
                                                                <path d="m490.007 217.504-69.27-43.111c-48.764-30.351-105.73-46.393-164.737-46.393s-115.973 16.042-164.737 46.393l-69.27 43.111c-13.771 8.571-21.993 22.962-21.993 38.496s8.222 29.925 21.993 38.496l69.27 43.111c48.764 30.351 105.73 46.393 164.737 46.393s115.973-16.042 164.737-46.393l69.271-43.111c13.77-8.571 21.992-22.962 21.992-38.496s-8.222-29.925-21.993-38.496zm-234.007 118.496c-44.112 0-80-35.888-80-80s35.888-80 80-80 80 35.888 80 80-35.888 80-80 80zm-217.098-68.672c-4.386-2.73-6.902-6.859-6.902-11.328s2.516-8.598 6.901-11.328l69.27-43.111c23.989-14.93 50.218-25.8 77.467-32.629-25.38 20.549-41.638 51.943-41.638 87.068s16.258 66.519 41.638 87.069c-27.249-6.829-53.478-17.699-77.467-32.629zm434.197 0-69.27 43.111c-23.989 14.93-50.217 25.8-77.467 32.629 25.38-20.549 41.638-51.943 41.638-87.068s-16.258-66.519-41.638-87.069c27.249 6.829 53.478 17.699 77.467 32.629l69.269 43.111c4.386 2.73 6.902 6.86 6.902 11.329s-2.516 8.599-6.901 11.328z" />
                                                                <circle cx="256" cy="256" r="32" />
                                                            </g>
                                                        </svg>
                                                    </span>*@
                                                @*<span class="movie-like">
                                                        <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
                                                            <rect x="10.667" y="234.667" style="fill:#0277BD;" width="149.333" height="256" />
                                                            <path style="fill:#01579B;" d="M160,501.333H10.667C4.776,501.333,0,496.558,0,490.667v-256C0,228.776,4.776,224,10.667,224H160  c5.891,0,10.667,4.776,10.667,10.667v256C170.667,496.558,165.891,501.333,160,501.333z M21.333,480h128V245.333h-128V480z" />
                                                            <path style="fill:#ECEFF1;" d="M160,448c18.59,13.606,40.965,21.064,64,21.333h197.333c20.571,0.072,37.306-16.546,37.378-37.118  c0.036-10.343-4.23-20.236-11.778-27.309c20.37-2.201,35.1-20.499,32.899-40.869c-0.956-8.848-5.061-17.057-11.565-23.131  c20.373-2.177,35.124-20.458,32.946-40.831c-1.337-12.508-8.921-23.487-20.146-29.164c20.018-12.432,26.167-38.738,13.735-58.756  c-7.763-12.5-21.42-20.118-36.135-20.156H309.333c11.719-30.799,18.905-63.136,21.333-96c0-40-34.667-74.667-53.333-74.667  c-11.512,0.168-22.69,3.894-32,10.667v74.667l-64,138.667L160,256V448z" />
                                                            <path style="fill:#01579B;" d="M421.333,480H224c-25.865-0.206-50.969-8.783-71.552-24.448c-1.999-2.004-3.12-4.721-3.115-7.552V256  c0-4.037,2.279-7.728,5.888-9.536l17.984-9.003l61.461-133.12V32c-0.007-3.242,1.461-6.312,3.989-8.341  c11.226-8.25,24.747-12.791,38.677-12.992c24.683,0,64,39.061,64,85.333c-1.612,29.11-7.359,57.842-17.067,85.333h134.4  c29.455,0,53.333,23.878,53.333,53.333c0.035,13.237-4.916,26.002-13.867,35.755c18.566,18.691,18.464,48.894-0.227,67.46  c-3.591,3.567-7.728,6.54-12.253,8.807c3.32,6.62,5.037,13.928,5.013,21.333c-0.02,18.056-10.212,34.561-26.347,42.667  c3.32,6.62,5.037,13.928,5.013,21.333C469.286,458.508,447.82,479.965,421.333,480z M170.667,443.115  c16.153,9.666,34.517,15.021,53.333,15.552h197.333C436.056,458.655,447.988,446.723,448,432c0.001-7.328-3.053-14.324-8.427-19.307  c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29c14.517-1.534,25.042-14.547,23.507-29.064  c-0.67-6.34-3.609-12.224-8.275-16.568c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29  c14.518-1.53,25.046-14.539,23.516-29.056c-0.946-8.98-6.411-16.856-14.492-20.885c-5.235-2.702-7.289-9.135-4.587-14.371  c0.889-1.724,2.232-3.172,3.883-4.189c14.999-9.347,19.581-29.083,10.234-44.082c-5.794-9.298-15.941-14.985-26.896-15.075H309.333  c-5.891-0.003-10.664-4.781-10.661-10.672c0.001-1.296,0.237-2.581,0.699-3.792C310.612,158.61,317.559,127.561,320,96  c0-34.944-30.976-64-42.667-64c-7.482,0.121-14.815,2.108-21.333,5.781v68.885c-0.002,1.546-0.336,3.074-0.981,4.48l-64,138.667  c-1.016,2.192-2.746,3.975-4.907,5.056l-15.445,7.723V443.115z" />
                                                        </svg>
                                                        <span class="movie-like-number">2756</span>
                                                    </span>*@
                                            </div>
                                            <div class="movie-name">
                                                <h4 class="movie-title"><a href="#">@item.Name (@item.Year)</a></h4>
                                                <div class="tags">
                                                    <span class="tag is--is--purple">@item.Type</span>
                                                    <span class="tag is--purple">@item.Genre</span>
                                                    @if (item.Language != "N/A")
                                                    {
                                                        <span class="tag is--yellow">@item.Language</span>
                                                    }
                                                    <span class="tag is--blue">@item.Platform</span>
                                                </div>
                                                <div class="col-12 clearfix">
                                                    <div class="movie-plot">
                                                        <span class="plot-label">Plot: </span>
                                                        <span data-toggle="popover" data-html="true" data-trigger="hover" data-container="body" data-placement="bottom" data-title="@item.Name" data-content="<p>@item.Plot</p>">
                                                            <svg viewBox="0 0 24 24">
                                                                <path d="m17.5 24c-3.584 0-6.5-2.916-6.5-6.5s2.916-6.5 6.5-6.5 6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5zm0-12c-3.033 0-5.5 2.468-5.5 5.5s2.467 5.5 5.5 5.5 5.5-2.468 5.5-5.5-2.467-5.5-5.5-5.5z" />
                                                                <path d="m17.5 21c-.276 0-.5-.224-.5-.5v-4c0-.276.224-.5.5-.5s.5.224.5.5v4c0 .276-.224.5-.5.5z" />
                                                                <circle cx="17.5" cy="14.5" r=".5" />
                                                                <path d="m9.5 21h-7c-1.378 0-2.5-1.121-2.5-2.5v-13c0-1.379 1.122-2.5 2.5-2.5h2c.276 0 .5.224.5.5s-.224.5-.5.5h-2c-.827 0-1.5.673-1.5 1.5v13c0 .827.673 1.5 1.5 1.5h7c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                                                <path d="m11.5 6h-6c-.827 0-1.5-.673-1.5-1.5v-2c0-.276.224-.5.5-.5h1.55c.233-1.14 1.242-2 2.45-2s2.217.86 2.45 2h1.55c.276 0 .5.224.5.5v2c0 .827-.673 1.5-1.5 1.5zm-6.5-3v1.5c0 .275.224.5.5.5h6c.276 0 .5-.225.5-.5v-1.5h-1.5c-.276 0-.5-.224-.5-.5 0-.827-.673-1.5-1.5-1.5s-1.5.673-1.5 1.5c0 .276-.224.5-.5.5z" />
                                                                <path d="m13.5 9h-10c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                                                <path d="m10.5 12h-7c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h7c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                                                <path d="m8.5 15h-5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                                                <path d="m16.5 9c-.276 0-.5-.224-.5-.5v-3c0-.827-.673-1.5-1.5-1.5h-2c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h2c1.378 0 2.5 1.121 2.5 2.5v3c0 .276-.224.5-.5.5z" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    @*<div class="user-comments-link">
                                                            <span class="comment-count">2545</span>
                                                            <label>
                                                                Comments
                                                                <svg viewBox="0 0 384.009 384.009" style="enable-background:new 0 0 384.009 384.009;">
                                                                    <path style="fill:#4DD0E1;" d="M349.44,238.485l18.56,93.52c0,0-44.96-22.24-88.56-39.2h-0.08c-11.6,4.72-23.92,8.48-36.96,11.04  c-13.52,2.72-43.76,4.16-58.4,4.16c-92.8,0-168-57.28-168-128s83.2-128,176-128s176,57.28,176,128  C368,201.124,361.28,220.964,349.44,238.485z" />
                                                                    <g>
                                                                        <path style="fill:#012E52;" d="M192,36.005c-104.072,0-192,65.944-192,144c0,79.4,82.544,144,184,144   c13.704,0,45.832-1.312,61.48-4.464c11.496-2.256,22.864-5.472,33.888-9.568c40.576,16.168,81.12,36.168,81.536,36.376   c2.256,1.112,4.68,1.656,7.096,1.656c3.456,0,6.888-1.12,9.736-3.304c4.832-3.704,7.152-9.832,5.968-15.816l-17.312-87.216   C377.928,222.516,384,201.34,384,180.005C384,101.949,296.072,36.005,192,36.005z M333.744,241.597l12.368,62.328   c-16.792-7.72-38.896-17.48-60.872-26.032c-1.848-0.72-3.896-1.088-5.88-1.088c-2.064,0-4.112,0.4-6.032,1.176   c-10.984,4.472-22.424,7.888-34.088,10.168c-11.672,2.36-40.512,3.856-55.24,3.856c-83.816,0-152-50.24-152-112   c0-59.664,74.768-112,160-112s160,52.336,160,112c0,17.336-5.32,33.992-15.816,49.52   C333.792,233.061,332.92,237.412,333.744,241.597z" />
                                                                        <path style="fill:#012E52;" d="M240,132.005H112c-8.832,0-16,7.168-16,16s7.168,16,16,16h128c8.832,0,16-7.168,16-16   S248.832,132.005,240,132.005z" />
                                                                        <path style="fill:#012E52;" d="M208,196.005h-96c-8.832,0-16,7.168-16,16s7.168,16,16,16h96c8.832,0,16-7.168,16-16   S216.832,196.005,208,196.005z" />
                                                                    </g>
                                                                </svg>
                                                            </label>
                                                        </div>*@
                                                </div>
                                                @*<div class="user-comments" style="display:none">
                                                        <ul class="user-comments-list">
                                                            <li>
                                                                <svg viewBox="0 0 464 464" style="enable-background:new 0 0 464 464;">
                                                                    <circle style="fill:#f1f1f1;" cx="232" cy="232" r="232" />
                                                                    <path style="fill:#cccccc;" d="M285.104,247.952C310.952,230.744,328,201.376,328,168c0-53.016-42.984-96-96-96s-96,42.984-96,96  c0,33.376,17.048,62.744,42.896,79.952c0,0,0.008,0.008,0.016,0.008c-0.008,0-0.008-0.008-0.008-0.008  c-61.872,18.648-110.048,68.864-125.56,132.04L53.352,380c2.528,3.048,5.152,6.024,7.832,8.944c0.648,0.712,1.328,1.392,1.992,2.088  c2.064,2.192,4.152,4.352,6.296,6.464c0.888,0.872,1.792,1.712,2.696,2.568c1.984,1.888,3.992,3.752,6.04,5.568  c1.016,0.896,2.048,1.784,3.072,2.664c2.008,1.72,4.04,3.408,6.112,5.056c1.088,0.872,2.184,1.728,3.28,2.584  c2.096,1.616,4.224,3.184,6.376,4.72c1.112,0.792,2.208,1.6,3.336,2.376c2.272,1.568,4.584,3.072,6.912,4.56  c1.048,0.664,2.072,1.352,3.128,2.008c2.688,1.656,5.424,3.24,8.184,4.792c0.728,0.408,1.44,0.848,2.176,1.248  c3.568,1.952,7.192,3.824,10.872,5.592c0.088,0.04,0.184,0.08,0.272,0.12c3.512,1.68,7.08,3.272,10.688,4.776  c1.12,0.472,2.264,0.888,3.392,1.336c2.608,1.04,5.216,2.064,7.872,3.008c1.408,0.504,2.832,0.96,4.248,1.44  c2.416,0.816,4.848,1.608,7.296,2.336c1.552,0.464,3.112,0.896,4.68,1.328c2.368,0.656,4.752,1.28,7.16,1.864  c1.624,0.392,3.256,0.768,4.896,1.128c2.408,0.528,4.824,1.008,7.256,1.456c1.648,0.304,3.288,0.616,4.952,0.88  c2.512,0.408,5.04,0.752,7.576,1.08c1.6,0.208,3.192,0.44,4.8,0.608c2.8,0.304,5.624,0.52,8.448,0.72  c1.368,0.096,2.72,0.24,4.088,0.312c4.216,0.24,8.448,0.376,12.72,0.376s8.504-0.136,12.72-0.36  c1.368-0.072,2.728-0.216,4.088-0.312c2.832-0.2,5.656-0.416,8.448-0.72c1.608-0.176,3.2-0.4,4.8-0.608  c2.536-0.328,5.064-0.672,7.576-1.08c1.656-0.272,3.304-0.576,4.952-0.88c2.432-0.448,4.856-0.928,7.256-1.456  c1.64-0.36,3.272-0.736,4.896-1.128c2.4-0.584,4.784-1.208,7.16-1.864c1.56-0.432,3.128-0.864,4.68-1.328  c2.456-0.736,4.88-1.528,7.296-2.336c1.416-0.48,2.848-0.936,4.248-1.44c2.648-0.952,5.264-1.968,7.872-3.008  c1.128-0.448,2.272-0.872,3.392-1.336c3.592-1.504,7.144-3.08,10.64-4.76c0.104-0.048,0.216-0.096,0.32-0.144  c3.68-1.768,7.304-3.64,10.872-5.592c0.736-0.4,1.448-0.84,2.176-1.248c2.76-1.552,5.496-3.136,8.184-4.792  c1.056-0.648,2.088-1.336,3.128-2.008c2.328-1.488,4.64-3,6.912-4.56c1.12-0.776,2.224-1.576,3.336-2.376  c2.152-1.544,4.28-3.112,6.376-4.72c1.104-0.848,2.192-1.712,3.28-2.584c2.064-1.648,4.104-3.336,6.112-5.056  c1.032-0.88,2.064-1.768,3.072-2.664c2.048-1.816,4.056-3.68,6.04-5.568c0.896-0.856,1.808-1.704,2.696-2.568  c2.144-2.112,4.24-4.272,6.296-6.464c0.656-0.704,1.336-1.384,1.992-2.088c2.68-2.92,5.304-5.896,7.832-8.944l0.008-0.008  C395.152,316.816,346.976,266.6,285.104,247.952z" />
                                                                </svg>
                                                                Miles Finer is a podcaster who is vocal about his disbelief in God.
                                                            </li>
                                                            <li>
                                                                <svg viewBox="0 0 464 464" style="enable-background:new 0 0 464 464;">
                                                                    <circle style="fill:#f1f1f1;" cx="232" cy="232" r="232" />
                                                                    <path style="fill:#cccccc;" d="M285.104,247.952C310.952,230.744,328,201.376,328,168c0-53.016-42.984-96-96-96s-96,42.984-96,96  c0,33.376,17.048,62.744,42.896,79.952c0,0,0.008,0.008,0.016,0.008c-0.008,0-0.008-0.008-0.008-0.008  c-61.872,18.648-110.048,68.864-125.56,132.04L53.352,380c2.528,3.048,5.152,6.024,7.832,8.944c0.648,0.712,1.328,1.392,1.992,2.088  c2.064,2.192,4.152,4.352,6.296,6.464c0.888,0.872,1.792,1.712,2.696,2.568c1.984,1.888,3.992,3.752,6.04,5.568  c1.016,0.896,2.048,1.784,3.072,2.664c2.008,1.72,4.04,3.408,6.112,5.056c1.088,0.872,2.184,1.728,3.28,2.584  c2.096,1.616,4.224,3.184,6.376,4.72c1.112,0.792,2.208,1.6,3.336,2.376c2.272,1.568,4.584,3.072,6.912,4.56  c1.048,0.664,2.072,1.352,3.128,2.008c2.688,1.656,5.424,3.24,8.184,4.792c0.728,0.408,1.44,0.848,2.176,1.248  c3.568,1.952,7.192,3.824,10.872,5.592c0.088,0.04,0.184,0.08,0.272,0.12c3.512,1.68,7.08,3.272,10.688,4.776  c1.12,0.472,2.264,0.888,3.392,1.336c2.608,1.04,5.216,2.064,7.872,3.008c1.408,0.504,2.832,0.96,4.248,1.44  c2.416,0.816,4.848,1.608,7.296,2.336c1.552,0.464,3.112,0.896,4.68,1.328c2.368,0.656,4.752,1.28,7.16,1.864  c1.624,0.392,3.256,0.768,4.896,1.128c2.408,0.528,4.824,1.008,7.256,1.456c1.648,0.304,3.288,0.616,4.952,0.88  c2.512,0.408,5.04,0.752,7.576,1.08c1.6,0.208,3.192,0.44,4.8,0.608c2.8,0.304,5.624,0.52,8.448,0.72  c1.368,0.096,2.72,0.24,4.088,0.312c4.216,0.24,8.448,0.376,12.72,0.376s8.504-0.136,12.72-0.36  c1.368-0.072,2.728-0.216,4.088-0.312c2.832-0.2,5.656-0.416,8.448-0.72c1.608-0.176,3.2-0.4,4.8-0.608  c2.536-0.328,5.064-0.672,7.576-1.08c1.656-0.272,3.304-0.576,4.952-0.88c2.432-0.448,4.856-0.928,7.256-1.456  c1.64-0.36,3.272-0.736,4.896-1.128c2.4-0.584,4.784-1.208,7.16-1.864c1.56-0.432,3.128-0.864,4.68-1.328  c2.456-0.736,4.88-1.528,7.296-2.336c1.416-0.48,2.848-0.936,4.248-1.44c2.648-0.952,5.264-1.968,7.872-3.008  c1.128-0.448,2.272-0.872,3.392-1.336c3.592-1.504,7.144-3.08,10.64-4.76c0.104-0.048,0.216-0.096,0.32-0.144  c3.68-1.768,7.304-3.64,10.872-5.592c0.736-0.4,1.448-0.84,2.176-1.248c2.76-1.552,5.496-3.136,8.184-4.792  c1.056-0.648,2.088-1.336,3.128-2.008c2.328-1.488,4.64-3,6.912-4.56c1.12-0.776,2.224-1.576,3.336-2.376  c2.152-1.544,4.28-3.112,6.376-4.72c1.104-0.848,2.192-1.712,3.28-2.584c2.064-1.648,4.104-3.336,6.112-5.056  c1.032-0.88,2.064-1.768,3.072-2.664c2.048-1.816,4.056-3.68,6.04-5.568c0.896-0.856,1.808-1.704,2.696-2.568  c2.144-2.112,4.24-4.272,6.296-6.464c0.656-0.704,1.336-1.384,1.992-2.088c2.68-2.92,5.304-5.896,7.832-8.944l0.008-0.008  C395.152,316.816,346.976,266.6,285.104,247.952z" />
                                                                </svg>
                                                                Miles Finer is a podcaster who is vocal about his disbelief in God.
                                                            </li>
                                                            <li>
                                                                <svg viewBox="0 0 464 464" style="enable-background:new 0 0 464 464;">
                                                                    <circle style="fill:#f1f1f1;" cx="232" cy="232" r="232" />
                                                                    <path style="fill:#cccccc;" d="M285.104,247.952C310.952,230.744,328,201.376,328,168c0-53.016-42.984-96-96-96s-96,42.984-96,96  c0,33.376,17.048,62.744,42.896,79.952c0,0,0.008,0.008,0.016,0.008c-0.008,0-0.008-0.008-0.008-0.008  c-61.872,18.648-110.048,68.864-125.56,132.04L53.352,380c2.528,3.048,5.152,6.024,7.832,8.944c0.648,0.712,1.328,1.392,1.992,2.088  c2.064,2.192,4.152,4.352,6.296,6.464c0.888,0.872,1.792,1.712,2.696,2.568c1.984,1.888,3.992,3.752,6.04,5.568  c1.016,0.896,2.048,1.784,3.072,2.664c2.008,1.72,4.04,3.408,6.112,5.056c1.088,0.872,2.184,1.728,3.28,2.584  c2.096,1.616,4.224,3.184,6.376,4.72c1.112,0.792,2.208,1.6,3.336,2.376c2.272,1.568,4.584,3.072,6.912,4.56  c1.048,0.664,2.072,1.352,3.128,2.008c2.688,1.656,5.424,3.24,8.184,4.792c0.728,0.408,1.44,0.848,2.176,1.248  c3.568,1.952,7.192,3.824,10.872,5.592c0.088,0.04,0.184,0.08,0.272,0.12c3.512,1.68,7.08,3.272,10.688,4.776  c1.12,0.472,2.264,0.888,3.392,1.336c2.608,1.04,5.216,2.064,7.872,3.008c1.408,0.504,2.832,0.96,4.248,1.44  c2.416,0.816,4.848,1.608,7.296,2.336c1.552,0.464,3.112,0.896,4.68,1.328c2.368,0.656,4.752,1.28,7.16,1.864  c1.624,0.392,3.256,0.768,4.896,1.128c2.408,0.528,4.824,1.008,7.256,1.456c1.648,0.304,3.288,0.616,4.952,0.88  c2.512,0.408,5.04,0.752,7.576,1.08c1.6,0.208,3.192,0.44,4.8,0.608c2.8,0.304,5.624,0.52,8.448,0.72  c1.368,0.096,2.72,0.24,4.088,0.312c4.216,0.24,8.448,0.376,12.72,0.376s8.504-0.136,12.72-0.36  c1.368-0.072,2.728-0.216,4.088-0.312c2.832-0.2,5.656-0.416,8.448-0.72c1.608-0.176,3.2-0.4,4.8-0.608  c2.536-0.328,5.064-0.672,7.576-1.08c1.656-0.272,3.304-0.576,4.952-0.88c2.432-0.448,4.856-0.928,7.256-1.456  c1.64-0.36,3.272-0.736,4.896-1.128c2.4-0.584,4.784-1.208,7.16-1.864c1.56-0.432,3.128-0.864,4.68-1.328  c2.456-0.736,4.88-1.528,7.296-2.336c1.416-0.48,2.848-0.936,4.248-1.44c2.648-0.952,5.264-1.968,7.872-3.008  c1.128-0.448,2.272-0.872,3.392-1.336c3.592-1.504,7.144-3.08,10.64-4.76c0.104-0.048,0.216-0.096,0.32-0.144  c3.68-1.768,7.304-3.64,10.872-5.592c0.736-0.4,1.448-0.84,2.176-1.248c2.76-1.552,5.496-3.136,8.184-4.792  c1.056-0.648,2.088-1.336,3.128-2.008c2.328-1.488,4.64-3,6.912-4.56c1.12-0.776,2.224-1.576,3.336-2.376  c2.152-1.544,4.28-3.112,6.376-4.72c1.104-0.848,2.192-1.712,3.28-2.584c2.064-1.648,4.104-3.336,6.112-5.056  c1.032-0.88,2.064-1.768,3.072-2.664c2.048-1.816,4.056-3.68,6.04-5.568c0.896-0.856,1.808-1.704,2.696-2.568  c2.144-2.112,4.24-4.272,6.296-6.464c0.656-0.704,1.336-1.384,1.992-2.088c2.68-2.92,5.304-5.896,7.832-8.944l0.008-0.008  C395.152,316.816,346.976,266.6,285.104,247.952z" />
                                                                </svg>
                                                                Miles Finer is a podcaster who is vocal about his disbelief in God.
                                                            </li>
                                                        </ul>
                                                        <textarea></textarea>
                                                        <button class="btn btn-secondry btn-sm col-xs-12"><span>Post</span></button>
                                                    </div>*@
                                                <div><a href=@item.Watchlink target="_blank" class="btn btn-primary col-xs-12"><span onclick="trackContentClicked('@item.Type','@item.Name','@item.Platform','all')">Watch on @item.Platform</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="load-more">
                                <div id="load-more-loader" style="display: none;">
                                    <div class="loader-spinner"></div>
                                </div>
                                <span>
                                    Load More
                                    <svg viewBox="0 0 381.264 381.264">
                                        <polygon style="fill: #f9f9f9;" points="358.632,134.632 190.632,302.632 22.632,134.632 78.632,78.632 190.632,190.632   302.632,78.632 " />
                                        <path style="fill: #bf1e2e;" d="M381.264,134.632L302.632,56l-112,112l-112-112L0,134.632l190.632,190.632L381.264,134.632z   M78.632,101.264l112,112l112-112L336,134.632L190.632,280L45.264,134.632L78.632,101.264z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div id="tabs-loader" class="tabs-loader" style="display: none;">
                            <div class="loader-spinner"></div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="container">
                    <div class="newsletter-block">
                        <div class="newsletter-content">
                            <h3>
                                <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
                                    <path style="fill:#F57C00;" d="M255.871,0c-29.455,0-53.333,23.878-53.333,53.333c0.05,2.559,0.286,5.112,0.704,7.637  c0.769,5.285,5.327,9.186,10.667,9.131c1.018-0.001,2.03-0.145,3.008-0.427c25.488-7.541,52.614-7.541,78.101,0  c3.031,0.75,6.237,0.168,8.811-1.6c2.629-1.798,4.385-4.614,4.843-7.765c0.383-2.314,0.597-4.652,0.64-6.997  C309.3,23.857,285.412-0.012,255.957,0C255.928,0,255.9,0,255.871,0z" />
                                    <path style="fill:#FFA000;" d="M319.871,426.667h-128c-5.891,0-10.667,4.776-10.667,10.667c0,41.237,33.429,74.667,74.667,74.667  s74.667-33.429,74.667-74.667C330.538,431.442,325.763,426.667,319.871,426.667z" />
                                    <path style="fill:#FFC107;" d="M454.719,388.459c-3.371-7.445-7.616-15.765-12.309-24.939  c-28.867-48.898-45.304-104.128-47.872-160.853c0-84.544-44.8-146.581-114.091-158.037c-40.434-6.499-81.649,5.516-112.256,32.725  c-33.881,29.576-52.678,72.811-51.2,117.76c-0.883,59.426-17.298,117.586-47.616,168.704c-4.587,9.045-8.768,17.28-12.096,24.619  c-9.614,21.203-0.22,46.186,20.984,55.801c5.53,2.508,11.536,3.791,17.608,3.762h320.341c23.281,0.07,42.211-18.747,42.28-42.028  c0.018-6.039-1.262-12.011-3.753-17.513H454.719z" />
                                    <path style="fill:#FFD54F;" d="M113.642,405.333c-5.891,0-10.667-4.776-10.666-10.667c0-1.659,0.387-3.295,1.13-4.778l3.435-6.741  c31.862-55.009,49.825-116.959,52.331-180.48c0-54.123,25.152-117.333,96-117.333c5.891,0,10.667,4.776,10.667,10.667  c0,5.891-4.776,10.667-10.667,10.667c-69.291,0-74.667,73.472-74.667,96c-2.381,66.916-21.156,132.223-54.677,190.187l-3.328,6.592  C121.388,403.061,117.687,405.341,113.642,405.333z" />
                                </svg>
                                Subscribe now to get latest updates!
                            </h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" name="EMAIL" placeholder="Your email address" required="" autocomplete="off">
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-secondry col-xs-12"><span>Sign up Now!</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </main>
        <footer class="footer-wrap">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="menu-footer-menu">
                                <li class="menu-item "><a href="/home/index">Home</a></li>
                                @*<li class="menu-item "><a href="#">About</a></li>
                                    <li class="menu-item"><a href="#">Contact</a></li>*@
                            </ul>
                        </div>
                        <div class="col-xs-6 text-right">
                            © 2020 Jubamo.com. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <a id="modal-close" class="modal-close" href="javascript:void(0)" data-dismiss="modal">
                        <svg viewBox="0 0 329.26933 329">
                            <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path>
                        </svg>
                    </a>
                    <h2 class="title toggle-login">Login</h2>
                    <h2 class="title toggle-forgot-password" style="display:none;">Forgot password</h2>
                    <h2 class="title toggle-register" style="display:none;">Register</h2>
                </div>
                <div class="modal-body" style="padding-bottom:40px;">
                    <form id="login" action="login" method="post">
                        <div class="login-error alert alert-danger" role="alert" style="display: none;">
                            Please enter a valid username.<br />
                            Please enter a correct password.s
                        </div>
                        <div class="login-box toggle-login">
                            <input type="text" id="username" name="username" class="form-control" placeholder="User Name">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                            <button type="submit" class="btn btn-primary"><span>LOGIN</span></button>
                        </div>
                        <div class="forgot-password-box toggle-forgot-password" style="display:none;">
                            <input type="password" id="password" name="password" class="form-control" placeholder="New Password">
                            <button type="submit" class="btn btn-primary"><span>Change Password</span></button>
                        </div>
                        <div class="register-box toggle-register" style="display:none;">
                            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name">
                            <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email Address">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                            <button type="submit" class="btn btn-primary"><span>Register</span></button>
                        </div>
                        <div class="text-right"><a href="#" id="RegisterLink">Register</a> | <a href="#" id="ForgotPasswordLink">Forgot password?</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        @*var contents = @Html.Raw(Json.Serialize(Model.AvailableSection));
        var contentNames = [];
        for (var counter = 0; counter < contents.length; counter++) {
            c.push(contents[counter].name);
        }*@

    </script>
    <script src="@Model.StaticContentPath/js/jquery.min.js"></script>
    <script src="@Model.StaticContentPath/js/jquery-ui.min.js"></script>
    <script src="@Model.StaticContentPath/js/bootstrap.min.js"></script>
    <script src="@Model.StaticContentPath/js/owl.carousel.min.js"></script>
    <script src="@Model.StaticContentPath/js/app.js?ver=5.911"></script>
    <script src="@Model.StaticContentPath/js/mixpanel.js?ver=2.911"></script>
    @*@if (Model.Environment == "localhost")
        {
            <script src="~/scripts/jquery.min.js"></script>
            <script src="~/scripts/jquery-ui.min.js"></script>
            <script src="~/scripts/bootstrap.min.js"></script>
            <script src="~/scripts/owl.carousel.min.js"></script>
            <script src="~/scripts/app.js"></script>
        }
        else
        {
            <script src="@Model.StaticContentPath/js/jquery.min.js"></script>
            <script src="@Model.StaticContentPath/js/jquery-ui.min.js"></script>
            <script src="@Model.StaticContentPath/js/bootstrap.min.js"></script>
            <script src="@Model.StaticContentPath/js/owl.carousel.min.js"></script>
            <script src="@Model.StaticContentPath/js/app.js"></script>
        }*@
    @*<environment include="localhost">
            <script src="~/scripts/jquery.min.js"></script>
            <script src="~/scripts/jquery-ui.min.js"></script>
            <script src="~/scripts/bootstrap.min.js"></script>
            <script src="~/scripts/owl.carousel.min.js"></script>
            <script src="~/scripts/app.js"></script>
        </environment>
        <environment include="Development">
            <script src="@Model.StaticContentPath/js/jquery.min.js"></script>
            <script src="@Model.StaticContentPath/js/jquery-ui.min.js"></script>
            <script src="@Model.StaticContentPath/js/bootstrap.min.js"></script>
            <script src="@Model.StaticContentPath/js/owl.carousel.min.js"></script>
            <script src="@Model.StaticContentPath/js/app.js"></script>
        </environment>
        <environment include="Production">
            <script src="@Model.StaticContentPath/js/jquery.min.js"></script>
            <script src="@Model.StaticContentPath/js/jquery-ui.min.js"></script>
            <script src="@Model.StaticContentPath/js/bootstrap.min.js"></script>
            <script src="@Model.StaticContentPath/js/owl.carousel.min.js"></script>
            <script src="@Model.StaticContentPath/js/app.js"></script>
        </environment>*@

</body>
</html>
