﻿@model Jubamo.Models.ContentVM

    @foreach (var item in Model.Contents)
    {
        <div class="item-inner">
            <div class="movie-poster">
                @if (item.ImageName == "N/A")
                {
                    <img src='@Model.StaticContentPath/images/ina.jpg' />
                }
                else
                {
                    @if (item.ImageSource == "name")
                    {
                        <img src='@Model.StaticContentPath/images/@item.ImageName' alt="">
                    }
                    else
                    {
                        <img src='@item.ImageName' alt="">
                    }
                }
            </div>
            <div class="movie-details clearfix">
                <div class="movie-rating-wrapper">
                    <div class="movie-rating">
                        <svg viewBox="0 -10 511.98685 511">
                            <path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" />
                        </svg>
                    </div>
                    <span class="rating-summary">
                        @{ var rating = item.Rating; }
                        @if (item.Rating == "N/A")
                        {
                            rating = "7.5";
                        }
                        <span>@rating</span>/10 <span class="imbd">imdb</span>
                    </span>
                    @*<span class="movie-wishlist active">
                            <svg viewBox="0 0 512 512">
                                <g>
                                    <path d="m490.007 217.504-69.27-43.111c-48.764-30.351-105.73-46.393-164.737-46.393s-115.973 16.042-164.737 46.393l-69.27 43.111c-13.771 8.571-21.993 22.962-21.993 38.496s8.222 29.925 21.993 38.496l69.27 43.111c48.764 30.351 105.73 46.393 164.737 46.393s115.973-16.042 164.737-46.393l69.271-43.111c13.77-8.571 21.992-22.962 21.992-38.496s-8.222-29.925-21.993-38.496zm-234.007 118.496c-44.112 0-80-35.888-80-80s35.888-80 80-80 80 35.888 80 80-35.888 80-80 80zm-217.098-68.672c-4.386-2.73-6.902-6.859-6.902-11.328s2.516-8.598 6.901-11.328l69.27-43.111c23.989-14.93 50.218-25.8 77.467-32.629-25.38 20.549-41.638 51.943-41.638 87.068s16.258 66.519 41.638 87.069c-27.249-6.829-53.478-17.699-77.467-32.629zm434.197 0-69.27 43.111c-23.989 14.93-50.217 25.8-77.467 32.629 25.38-20.549 41.638-51.943 41.638-87.068s-16.258-66.519-41.638-87.069c27.249 6.829 53.478 17.699 77.467 32.629l69.269 43.111c4.386 2.73 6.902 6.86 6.902 11.329s-2.516 8.599-6.901 11.328z" />
                                    <circle cx="256" cy="256" r="32" />
                                </g>
                            </svg>
                        </span>*@
                    @*<span class="movie-like">
                            <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
                                <rect x="10.667" y="234.667" style="fill:#0277BD;" width="149.333" height="256" />
                                <path style="fill:#01579B;" d="M160,501.333H10.667C4.776,501.333,0,496.558,0,490.667v-256C0,228.776,4.776,224,10.667,224H160  c5.891,0,10.667,4.776,10.667,10.667v256C170.667,496.558,165.891,501.333,160,501.333z M21.333,480h128V245.333h-128V480z" />
                                <path style="fill:#ECEFF1;" d="M160,448c18.59,13.606,40.965,21.064,64,21.333h197.333c20.571,0.072,37.306-16.546,37.378-37.118  c0.036-10.343-4.23-20.236-11.778-27.309c20.37-2.201,35.1-20.499,32.899-40.869c-0.956-8.848-5.061-17.057-11.565-23.131  c20.373-2.177,35.124-20.458,32.946-40.831c-1.337-12.508-8.921-23.487-20.146-29.164c20.018-12.432,26.167-38.738,13.735-58.756  c-7.763-12.5-21.42-20.118-36.135-20.156H309.333c11.719-30.799,18.905-63.136,21.333-96c0-40-34.667-74.667-53.333-74.667  c-11.512,0.168-22.69,3.894-32,10.667v74.667l-64,138.667L160,256V448z" />
                                <path style="fill:#01579B;" d="M421.333,480H224c-25.865-0.206-50.969-8.783-71.552-24.448c-1.999-2.004-3.12-4.721-3.115-7.552V256  c0-4.037,2.279-7.728,5.888-9.536l17.984-9.003l61.461-133.12V32c-0.007-3.242,1.461-6.312,3.989-8.341  c11.226-8.25,24.747-12.791,38.677-12.992c24.683,0,64,39.061,64,85.333c-1.612,29.11-7.359,57.842-17.067,85.333h134.4  c29.455,0,53.333,23.878,53.333,53.333c0.035,13.237-4.916,26.002-13.867,35.755c18.566,18.691,18.464,48.894-0.227,67.46  c-3.591,3.567-7.728,6.54-12.253,8.807c3.32,6.62,5.037,13.928,5.013,21.333c-0.02,18.056-10.212,34.561-26.347,42.667  c3.32,6.62,5.037,13.928,5.013,21.333C469.286,458.508,447.82,479.965,421.333,480z M170.667,443.115  c16.153,9.666,34.517,15.021,53.333,15.552h197.333C436.056,458.655,447.988,446.723,448,432c0.001-7.328-3.053-14.324-8.427-19.307  c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29c14.517-1.534,25.042-14.547,23.507-29.064  c-0.67-6.34-3.609-12.224-8.275-16.568c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29  c14.518-1.53,25.046-14.539,23.516-29.056c-0.946-8.98-6.411-16.856-14.492-20.885c-5.235-2.702-7.289-9.135-4.587-14.371  c0.889-1.724,2.232-3.172,3.883-4.189c14.999-9.347,19.581-29.083,10.234-44.082c-5.794-9.298-15.941-14.985-26.896-15.075H309.333  c-5.891-0.003-10.664-4.781-10.661-10.672c0.001-1.296,0.237-2.581,0.699-3.792C310.612,158.61,317.559,127.561,320,96  c0-34.944-30.976-64-42.667-64c-7.482,0.121-14.815,2.108-21.333,5.781v68.885c-0.002,1.546-0.336,3.074-0.981,4.48l-64,138.667  c-1.016,2.192-2.746,3.975-4.907,5.056l-15.445,7.723V443.115z" />
                            </svg>
                            <span class="movie-like-number">2756</span>
                        </span>*@
                </div>
                <div class="movie-name">
                    <h4 class="movie-title"><a href="#">@item.Name (@item.Year)</a></h4>
                    <div class="tags">
                        <span class="tag is--is--purple">@item.Type</span>
                        <span class="tag is--purple">@item.Genre</span>
                        @if (item.Language != "N/A")
                        {
                            <span class="tag is--yellow">@item.Language</span>
                        }
                        <span class="tag is--blue">@item.Platform</span>
                    </div>
                    <div class="col-12 clearfix">
                        <div class="movie-plot">
                            <span class="plot-label">Plot: </span>
                            <span data-toggle="popover" data-html="true" data-trigger="hover" data-container="body" data-placement="bottom" data-title="@item.Name" data-content="<p>@item.Plot</p>">
                                <svg viewBox="0 0 24 24">
                                    <path d="m17.5 24c-3.584 0-6.5-2.916-6.5-6.5s2.916-6.5 6.5-6.5 6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5zm0-12c-3.033 0-5.5 2.468-5.5 5.5s2.467 5.5 5.5 5.5 5.5-2.468 5.5-5.5-2.467-5.5-5.5-5.5z" />
                                    <path d="m17.5 21c-.276 0-.5-.224-.5-.5v-4c0-.276.224-.5.5-.5s.5.224.5.5v4c0 .276-.224.5-.5.5z" />
                                    <circle cx="17.5" cy="14.5" r=".5" />
                                    <path d="m9.5 21h-7c-1.378 0-2.5-1.121-2.5-2.5v-13c0-1.379 1.122-2.5 2.5-2.5h2c.276 0 .5.224.5.5s-.224.5-.5.5h-2c-.827 0-1.5.673-1.5 1.5v13c0 .827.673 1.5 1.5 1.5h7c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                    <path d="m11.5 6h-6c-.827 0-1.5-.673-1.5-1.5v-2c0-.276.224-.5.5-.5h1.55c.233-1.14 1.242-2 2.45-2s2.217.86 2.45 2h1.55c.276 0 .5.224.5.5v2c0 .827-.673 1.5-1.5 1.5zm-6.5-3v1.5c0 .275.224.5.5.5h6c.276 0 .5-.225.5-.5v-1.5h-1.5c-.276 0-.5-.224-.5-.5 0-.827-.673-1.5-1.5-1.5s-1.5.673-1.5 1.5c0 .276-.224.5-.5.5z" />
                                    <path d="m13.5 9h-10c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                    <path d="m10.5 12h-7c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h7c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                    <path d="m8.5 15h-5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                    <path d="m16.5 9c-.276 0-.5-.224-.5-.5v-3c0-.827-.673-1.5-1.5-1.5h-2c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h2c1.378 0 2.5 1.121 2.5 2.5v3c0 .276-.224.5-.5.5z" />
                                </svg>
                            </span>
                        </div>
                        @*<div class="user-comments-link">
                                <span class="comment-count">2545</span>
                                <label>
                                    Comments
                                    <svg viewBox="0 0 384.009 384.009" style="enable-background:new 0 0 384.009 384.009;">
                                        <path style="fill:#4DD0E1;" d="M349.44,238.485l18.56,93.52c0,0-44.96-22.24-88.56-39.2h-0.08c-11.6,4.72-23.92,8.48-36.96,11.04  c-13.52,2.72-43.76,4.16-58.4,4.16c-92.8,0-168-57.28-168-128s83.2-128,176-128s176,57.28,176,128  C368,201.124,361.28,220.964,349.44,238.485z" />
                                        <g>
                                            <path style="fill:#012E52;" d="M192,36.005c-104.072,0-192,65.944-192,144c0,79.4,82.544,144,184,144   c13.704,0,45.832-1.312,61.48-4.464c11.496-2.256,22.864-5.472,33.888-9.568c40.576,16.168,81.12,36.168,81.536,36.376   c2.256,1.112,4.68,1.656,7.096,1.656c3.456,0,6.888-1.12,9.736-3.304c4.832-3.704,7.152-9.832,5.968-15.816l-17.312-87.216   C377.928,222.516,384,201.34,384,180.005C384,101.949,296.072,36.005,192,36.005z M333.744,241.597l12.368,62.328   c-16.792-7.72-38.896-17.48-60.872-26.032c-1.848-0.72-3.896-1.088-5.88-1.088c-2.064,0-4.112,0.4-6.032,1.176   c-10.984,4.472-22.424,7.888-34.088,10.168c-11.672,2.36-40.512,3.856-55.24,3.856c-83.816,0-152-50.24-152-112   c0-59.664,74.768-112,160-112s160,52.336,160,112c0,17.336-5.32,33.992-15.816,49.52   C333.792,233.061,332.92,237.412,333.744,241.597z" />
                                            <path style="fill:#012E52;" d="M240,132.005H112c-8.832,0-16,7.168-16,16s7.168,16,16,16h128c8.832,0,16-7.168,16-16   S248.832,132.005,240,132.005z" />
                                            <path style="fill:#012E52;" d="M208,196.005h-96c-8.832,0-16,7.168-16,16s7.168,16,16,16h96c8.832,0,16-7.168,16-16   S216.832,196.005,208,196.005z" />
                                        </g>
                                    </svg>
                                </label>
                            </div>*@
                    </div>
                    @*<div class="user-comments" style="display:none">
                            <ul class="user-comments-list">
                                <li>
                                    <svg viewBox="0 0 464 464" style="enable-background:new 0 0 464 464;">
                                        <circle style="fill:#f1f1f1;" cx="232" cy="232" r="232" />
                                        <path style="fill:#cccccc;" d="M285.104,247.952C310.952,230.744,328,201.376,328,168c0-53.016-42.984-96-96-96s-96,42.984-96,96  c0,33.376,17.048,62.744,42.896,79.952c0,0,0.008,0.008,0.016,0.008c-0.008,0-0.008-0.008-0.008-0.008  c-61.872,18.648-110.048,68.864-125.56,132.04L53.352,380c2.528,3.048,5.152,6.024,7.832,8.944c0.648,0.712,1.328,1.392,1.992,2.088  c2.064,2.192,4.152,4.352,6.296,6.464c0.888,0.872,1.792,1.712,2.696,2.568c1.984,1.888,3.992,3.752,6.04,5.568  c1.016,0.896,2.048,1.784,3.072,2.664c2.008,1.72,4.04,3.408,6.112,5.056c1.088,0.872,2.184,1.728,3.28,2.584  c2.096,1.616,4.224,3.184,6.376,4.72c1.112,0.792,2.208,1.6,3.336,2.376c2.272,1.568,4.584,3.072,6.912,4.56  c1.048,0.664,2.072,1.352,3.128,2.008c2.688,1.656,5.424,3.24,8.184,4.792c0.728,0.408,1.44,0.848,2.176,1.248  c3.568,1.952,7.192,3.824,10.872,5.592c0.088,0.04,0.184,0.08,0.272,0.12c3.512,1.68,7.08,3.272,10.688,4.776  c1.12,0.472,2.264,0.888,3.392,1.336c2.608,1.04,5.216,2.064,7.872,3.008c1.408,0.504,2.832,0.96,4.248,1.44  c2.416,0.816,4.848,1.608,7.296,2.336c1.552,0.464,3.112,0.896,4.68,1.328c2.368,0.656,4.752,1.28,7.16,1.864  c1.624,0.392,3.256,0.768,4.896,1.128c2.408,0.528,4.824,1.008,7.256,1.456c1.648,0.304,3.288,0.616,4.952,0.88  c2.512,0.408,5.04,0.752,7.576,1.08c1.6,0.208,3.192,0.44,4.8,0.608c2.8,0.304,5.624,0.52,8.448,0.72  c1.368,0.096,2.72,0.24,4.088,0.312c4.216,0.24,8.448,0.376,12.72,0.376s8.504-0.136,12.72-0.36  c1.368-0.072,2.728-0.216,4.088-0.312c2.832-0.2,5.656-0.416,8.448-0.72c1.608-0.176,3.2-0.4,4.8-0.608  c2.536-0.328,5.064-0.672,7.576-1.08c1.656-0.272,3.304-0.576,4.952-0.88c2.432-0.448,4.856-0.928,7.256-1.456  c1.64-0.36,3.272-0.736,4.896-1.128c2.4-0.584,4.784-1.208,7.16-1.864c1.56-0.432,3.128-0.864,4.68-1.328  c2.456-0.736,4.88-1.528,7.296-2.336c1.416-0.48,2.848-0.936,4.248-1.44c2.648-0.952,5.264-1.968,7.872-3.008  c1.128-0.448,2.272-0.872,3.392-1.336c3.592-1.504,7.144-3.08,10.64-4.76c0.104-0.048,0.216-0.096,0.32-0.144  c3.68-1.768,7.304-3.64,10.872-5.592c0.736-0.4,1.448-0.84,2.176-1.248c2.76-1.552,5.496-3.136,8.184-4.792  c1.056-0.648,2.088-1.336,3.128-2.008c2.328-1.488,4.64-3,6.912-4.56c1.12-0.776,2.224-1.576,3.336-2.376  c2.152-1.544,4.28-3.112,6.376-4.72c1.104-0.848,2.192-1.712,3.28-2.584c2.064-1.648,4.104-3.336,6.112-5.056  c1.032-0.88,2.064-1.768,3.072-2.664c2.048-1.816,4.056-3.68,6.04-5.568c0.896-0.856,1.808-1.704,2.696-2.568  c2.144-2.112,4.24-4.272,6.296-6.464c0.656-0.704,1.336-1.384,1.992-2.088c2.68-2.92,5.304-5.896,7.832-8.944l0.008-0.008  C395.152,316.816,346.976,266.6,285.104,247.952z" />
                                    </svg>
                                    Miles Finer is a podcaster who is vocal about his disbelief in God.
                                </li>
                                <li>
                                    <svg viewBox="0 0 464 464" style="enable-background:new 0 0 464 464;">
                                        <circle style="fill:#f1f1f1;" cx="232" cy="232" r="232" />
                                        <path style="fill:#cccccc;" d="M285.104,247.952C310.952,230.744,328,201.376,328,168c0-53.016-42.984-96-96-96s-96,42.984-96,96  c0,33.376,17.048,62.744,42.896,79.952c0,0,0.008,0.008,0.016,0.008c-0.008,0-0.008-0.008-0.008-0.008  c-61.872,18.648-110.048,68.864-125.56,132.04L53.352,380c2.528,3.048,5.152,6.024,7.832,8.944c0.648,0.712,1.328,1.392,1.992,2.088  c2.064,2.192,4.152,4.352,6.296,6.464c0.888,0.872,1.792,1.712,2.696,2.568c1.984,1.888,3.992,3.752,6.04,5.568  c1.016,0.896,2.048,1.784,3.072,2.664c2.008,1.72,4.04,3.408,6.112,5.056c1.088,0.872,2.184,1.728,3.28,2.584  c2.096,1.616,4.224,3.184,6.376,4.72c1.112,0.792,2.208,1.6,3.336,2.376c2.272,1.568,4.584,3.072,6.912,4.56  c1.048,0.664,2.072,1.352,3.128,2.008c2.688,1.656,5.424,3.24,8.184,4.792c0.728,0.408,1.44,0.848,2.176,1.248  c3.568,1.952,7.192,3.824,10.872,5.592c0.088,0.04,0.184,0.08,0.272,0.12c3.512,1.68,7.08,3.272,10.688,4.776  c1.12,0.472,2.264,0.888,3.392,1.336c2.608,1.04,5.216,2.064,7.872,3.008c1.408,0.504,2.832,0.96,4.248,1.44  c2.416,0.816,4.848,1.608,7.296,2.336c1.552,0.464,3.112,0.896,4.68,1.328c2.368,0.656,4.752,1.28,7.16,1.864  c1.624,0.392,3.256,0.768,4.896,1.128c2.408,0.528,4.824,1.008,7.256,1.456c1.648,0.304,3.288,0.616,4.952,0.88  c2.512,0.408,5.04,0.752,7.576,1.08c1.6,0.208,3.192,0.44,4.8,0.608c2.8,0.304,5.624,0.52,8.448,0.72  c1.368,0.096,2.72,0.24,4.088,0.312c4.216,0.24,8.448,0.376,12.72,0.376s8.504-0.136,12.72-0.36  c1.368-0.072,2.728-0.216,4.088-0.312c2.832-0.2,5.656-0.416,8.448-0.72c1.608-0.176,3.2-0.4,4.8-0.608  c2.536-0.328,5.064-0.672,7.576-1.08c1.656-0.272,3.304-0.576,4.952-0.88c2.432-0.448,4.856-0.928,7.256-1.456  c1.64-0.36,3.272-0.736,4.896-1.128c2.4-0.584,4.784-1.208,7.16-1.864c1.56-0.432,3.128-0.864,4.68-1.328  c2.456-0.736,4.88-1.528,7.296-2.336c1.416-0.48,2.848-0.936,4.248-1.44c2.648-0.952,5.264-1.968,7.872-3.008  c1.128-0.448,2.272-0.872,3.392-1.336c3.592-1.504,7.144-3.08,10.64-4.76c0.104-0.048,0.216-0.096,0.32-0.144  c3.68-1.768,7.304-3.64,10.872-5.592c0.736-0.4,1.448-0.84,2.176-1.248c2.76-1.552,5.496-3.136,8.184-4.792  c1.056-0.648,2.088-1.336,3.128-2.008c2.328-1.488,4.64-3,6.912-4.56c1.12-0.776,2.224-1.576,3.336-2.376  c2.152-1.544,4.28-3.112,6.376-4.72c1.104-0.848,2.192-1.712,3.28-2.584c2.064-1.648,4.104-3.336,6.112-5.056  c1.032-0.88,2.064-1.768,3.072-2.664c2.048-1.816,4.056-3.68,6.04-5.568c0.896-0.856,1.808-1.704,2.696-2.568  c2.144-2.112,4.24-4.272,6.296-6.464c0.656-0.704,1.336-1.384,1.992-2.088c2.68-2.92,5.304-5.896,7.832-8.944l0.008-0.008  C395.152,316.816,346.976,266.6,285.104,247.952z" />
                                    </svg>
                                    Miles Finer is a podcaster who is vocal about his disbelief in God.
                                </li>
                                <li>
                                    <svg viewBox="0 0 464 464" style="enable-background:new 0 0 464 464;">
                                        <circle style="fill:#f1f1f1;" cx="232" cy="232" r="232" />
                                        <path style="fill:#cccccc;" d="M285.104,247.952C310.952,230.744,328,201.376,328,168c0-53.016-42.984-96-96-96s-96,42.984-96,96  c0,33.376,17.048,62.744,42.896,79.952c0,0,0.008,0.008,0.016,0.008c-0.008,0-0.008-0.008-0.008-0.008  c-61.872,18.648-110.048,68.864-125.56,132.04L53.352,380c2.528,3.048,5.152,6.024,7.832,8.944c0.648,0.712,1.328,1.392,1.992,2.088  c2.064,2.192,4.152,4.352,6.296,6.464c0.888,0.872,1.792,1.712,2.696,2.568c1.984,1.888,3.992,3.752,6.04,5.568  c1.016,0.896,2.048,1.784,3.072,2.664c2.008,1.72,4.04,3.408,6.112,5.056c1.088,0.872,2.184,1.728,3.28,2.584  c2.096,1.616,4.224,3.184,6.376,4.72c1.112,0.792,2.208,1.6,3.336,2.376c2.272,1.568,4.584,3.072,6.912,4.56  c1.048,0.664,2.072,1.352,3.128,2.008c2.688,1.656,5.424,3.24,8.184,4.792c0.728,0.408,1.44,0.848,2.176,1.248  c3.568,1.952,7.192,3.824,10.872,5.592c0.088,0.04,0.184,0.08,0.272,0.12c3.512,1.68,7.08,3.272,10.688,4.776  c1.12,0.472,2.264,0.888,3.392,1.336c2.608,1.04,5.216,2.064,7.872,3.008c1.408,0.504,2.832,0.96,4.248,1.44  c2.416,0.816,4.848,1.608,7.296,2.336c1.552,0.464,3.112,0.896,4.68,1.328c2.368,0.656,4.752,1.28,7.16,1.864  c1.624,0.392,3.256,0.768,4.896,1.128c2.408,0.528,4.824,1.008,7.256,1.456c1.648,0.304,3.288,0.616,4.952,0.88  c2.512,0.408,5.04,0.752,7.576,1.08c1.6,0.208,3.192,0.44,4.8,0.608c2.8,0.304,5.624,0.52,8.448,0.72  c1.368,0.096,2.72,0.24,4.088,0.312c4.216,0.24,8.448,0.376,12.72,0.376s8.504-0.136,12.72-0.36  c1.368-0.072,2.728-0.216,4.088-0.312c2.832-0.2,5.656-0.416,8.448-0.72c1.608-0.176,3.2-0.4,4.8-0.608  c2.536-0.328,5.064-0.672,7.576-1.08c1.656-0.272,3.304-0.576,4.952-0.88c2.432-0.448,4.856-0.928,7.256-1.456  c1.64-0.36,3.272-0.736,4.896-1.128c2.4-0.584,4.784-1.208,7.16-1.864c1.56-0.432,3.128-0.864,4.68-1.328  c2.456-0.736,4.88-1.528,7.296-2.336c1.416-0.48,2.848-0.936,4.248-1.44c2.648-0.952,5.264-1.968,7.872-3.008  c1.128-0.448,2.272-0.872,3.392-1.336c3.592-1.504,7.144-3.08,10.64-4.76c0.104-0.048,0.216-0.096,0.32-0.144  c3.68-1.768,7.304-3.64,10.872-5.592c0.736-0.4,1.448-0.84,2.176-1.248c2.76-1.552,5.496-3.136,8.184-4.792  c1.056-0.648,2.088-1.336,3.128-2.008c2.328-1.488,4.64-3,6.912-4.56c1.12-0.776,2.224-1.576,3.336-2.376  c2.152-1.544,4.28-3.112,6.376-4.72c1.104-0.848,2.192-1.712,3.28-2.584c2.064-1.648,4.104-3.336,6.112-5.056  c1.032-0.88,2.064-1.768,3.072-2.664c2.048-1.816,4.056-3.68,6.04-5.568c0.896-0.856,1.808-1.704,2.696-2.568  c2.144-2.112,4.24-4.272,6.296-6.464c0.656-0.704,1.336-1.384,1.992-2.088c2.68-2.92,5.304-5.896,7.832-8.944l0.008-0.008  C395.152,316.816,346.976,266.6,285.104,247.952z" />
                                    </svg>
                                    Miles Finer is a podcaster who is vocal about his disbelief in God.
                                </li>
                            </ul>
                            <textarea></textarea>
                            <button class="btn btn-secondry btn-sm col-xs-12"><span>Post</span></button>
                        </div>*@
                    <div><a href="@item.Watchlink" target="_blank" class="btn btn-primary col-xs-12"><span onclick="trackContentClicked('@item.Type','@item.Name','@item.Platform','custom')">Watch on @item.Platform</span></a></div>
                </div>
            </div>
        </div>
    }